/* stylelint-disable no-descending-specificity */

:root {
  /* colors */
  --info-card-background-color: #000;
  --info-card-color: #FFF;
  --info-card-gradient-background-color-start: #881fff;
  --info-card-gradient-background-color-end: #7fc8f5;
}

.section .cards-wrapper {
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.logo-strip.block li {
  border: unset;
}

.cards.logo-strip.block div.cards-card-image {
  margin-bottom: 4rem;
  padding: 1rem;
  max-width: 100%;
}

.cards.logo-strip.block div.cards-card-image > picture {
  display: block;
  max-height: 100%;
  max-width: 142px;
  margin: auto;
}

.cards.logo-strip.block div.cards-card-image > picture > img {
  aspect-ratio: unset;
  object-fit: unset;
  width: 100%;
}

.cards-container.icon-panel > .default-content-wrapper {
  max-width: 66.6667%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.cards-container.icon-panel > div > h3 {
  font-size: var(--heading-font-size-m);
  font-weight: 500;
  letter-spacing: -0.15rem;
  text-align: center;
  margin: 0 auto;
}

.cards-container.icon-panel > .cards-wrapper {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.cards-container.icon-panel .card-container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.cards-container.icon-panel .cards-card-image {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  margin: 3rem auto;
}

.cards-container.icon-panel .cards-card-body {
  letter-spacing: -0.02rem;
  margin-left: auto;
  margin-right: auto;
}

.cards-container.icon-panel .cards-card-body > h2 {
  font-size: var(--heading-font-size-xxs);
  font-weight: 600;
  letter-spacing: -0.02rem;
  margin-bottom: 1rem;
}

.cards-container.icon-panel .cards-card-body > p {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.cards-container.icon-panel .cards-card-body a {
  background-color: unset;
  border: none;
  color: var(--text-color);
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xxs);
  font-weight: 600;
  letter-spacing: 0.075rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-decoration: underline;
  white-space: unset;
}

.cards-container.icon-panel > .default-content-wrapper > p {
  color: #5f6169;
  font-size: var(--body-font-size-xxxs);
  font-weight: 400;
  letter-spacing: 0.025rem;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.cards.gradient-shadow ul {
  grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  .cards.gradient-shadow ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    height: 100%;
  }
}

.cards.gradient-shadow li {
  margin-top: 3.5rem;
  outline: none;
  border: 0;
  border-radius: 35px;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 245px;
}

.cards.gradient-shadow .card-extrusion {
  background: linear-gradient(135deg,#d41f9c,#ffa78c);
  position: absolute;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
}

.cards.gradient-shadow li:nth-of-type(4) .card-extrusion {
  background: linear-gradient(135deg,#80c7f5,#d6219c);
}

.cards.gradient-shadow li:nth-of-type(3) .card-extrusion {
  background: linear-gradient(135deg,#871fff,#7ec9f4);
}

.cards.gradient-shadow li:nth-of-type(2) .card-extrusion {
  background: linear-gradient(135deg,#80c7f5,#d6219c);
}

.cards.gradient-shadow .card-container {
  border-radius: 35px;
  position: relative;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  transition: transform 250ms ease-in-out;

  /* box-shadow: 10px 10px lightblue; */
  padding: 20px;
}

.cards.gradient-shadow .card-container:hover {
  transform: translateY(-10px) translateX(-10px);
}

.cards.gradient-shadow .card-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cards.gradient-shadow .card-title h4 {
  font-size: 19px;
  font-weight: 500;
  align-items: center;
  padding-left: 13px;
}

.cards.gradient-shadow .cards-card-image {
  background: linear-gradient(135deg,#d41f9c,#ffa78c);
  height: 38px;
  width: 38px;
  margin-left: 16px;
}

.cards.gradient-shadow .cards-card-body {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
  display: block;
  margin-bottom: 0;
}

.cards.gradient-shadow .button-container > a {
  font-family: var(--fixed-font-family);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 2rem;
  background-color: #fff;
  color: #000;
  padding: 0;
  border-radius: 0;
  border: unset;
  margin-bottom: 0;
  height: auto;
}

.cards.gradient-shadow .button-container {
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cards.gradient-shadow .button-container > a::after {
  background-color: #000;
  display: block;
  content: "";
  height: 0.2rem;
}

.cards.gradient-shadow > ul > li img {
  aspect-ratio: auto;
  object-fit: cover;
  width: 38px;
  height:38px;
}

.cards-container.icon-panel .cards > ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0;
}

.cards-container.icon-panel .cards > ul > li {
  border: none;
  max-width: 450px;
  flex: 0 0 100%;
}

@media (min-width: 600px) {
  .cards-container.icon-panel .cards > ul > li {
    flex: 0 0 50%;
  }
}

@media (min-width: 900px) {
  .cards-container.icon-panel .cards > ul > li {
  flex: 1 1 0;
  }
}

.cards-container.icon-panel .cards > ul > li img {
  aspect-ratio: 1;
}

/* Styling for the 2up info card variant */

  /* Styling for top level container for the 2up style of card (Flex container) */
  .cards.info-card > ul {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    grid-gap: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  /* Styling for top level container for each card (flex item) */
  .cards.info-card > ul > li {
    border: 0;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* Add a margin to the first child since in narrow mode this is a single column */
  .cards.info-card > ul > li:first-child {
    margin-bottom: 5rem;
  }

  /* Div to contain the card elements */
  .cards.info-card .card-container {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 31.9rem;
    position: relative;
  }

  /* <a> tag body of the card to take the background and make the full card clickable
    Went with that over a clickable div element to match the client structure since it seemed pretty clean */
  .cards.info-card .cards-card-body {
    background-color: var(--info-card-background-color);
    margin: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--info-card-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 31.9rem;
    padding: 4rem;
  }

  /* Display the pretty gradient on hover on the card */
  .cards.info-card .card-container:hover .cards-card-body {
    background: linear-gradient(140deg, var(--info-card-gradient-background-color-start) 24%, var(--info-card-gradient-background-color-end));
  }

  /* Layout and sizing for the title of the card */
  .cards.info-card .header-container {
    margin-bottom: 2rem;
    -ms-flex-align: end;
    align-items: flex-end;
    display: flex;
  }

/* Font styling for the title of the card */
.cards.info-card .card-title {
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -.12rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
  color: var(--info-card-color);
  text-decoration: none;
}

  /* Layout and styling of the button in the card */
  .cards.info-card .button.primary {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    white-space: normal;
    margin-top:0;
    margin-bottom: 4rem;
    color: var(--info-card-color);
  }

  /* Text styling of the button in the card */
  .cards.info-card .button-container {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.02rem;
    line-height: 2rem;
    text-decoration: none;
    text-align: left;
  }

  /* Styling of the arrow icon on the card */
  .cards.info-card .icon-arrow-link {
    font-size: 1.7rem;
    letter-spacing: -.025rem;
    line-height: 2.5rem;
    font-weight: 400;
  }

  /* Styling of the arrow icon and it's animation */
  .cards.info-card .icon-arrow-link::before {
    content: var(--vlt-right-arrow);
    color: var(--info-card-color);
    font-family: var(--icon-font-family);
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    speak: none;
    text-transform: none;
    transition: padding .3s ease;
  }

/* Animated property change on hover of the arrow icon */
.cards.info-card .card-container:hover .icon-arrow-link::before {
  padding-left: 1.5rem;
}

/* icon-card layout adjustments at higher resolutions */
@media (min-width: 768px){
  .cards.logo-strip.block ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
  }

  /* Styling of the clickable container in the info card */
  .cards.info-card .cards-card-body {
    display: block;
    min-height: 30.6rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  /* Layout and sizing for the title of the card */
  .cards.info-card .header-container {
    align-items: flex-end;
    display: flex;
    margin-bottom: 1.5rem;
    min-height: 9.4rem;
  }

  /* Font styling for the title of the card */
  .cards.info-card .card-title {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: -.05rem;
    line-height: 2.4rem;
  }

  /* Font sizing adjustment of the info card button */
  .cards.info-card .button-container {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.02rem;
    line-height: 2rem;
    text-decoration: none;
  }

  /* Positioning adjustment of the arrow icon */
  .cards.info-card .icon-arrow-link {
    bottom: 4rem;
    left: 4rem;
    position: absolute;
  }
}

@media (min-width: 992px){
  .cards.logo-strip.block ul {
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  .cards.logo-strip.block {
    display: flex;
    justify-content: center;
  }

  /* Dual card layout for larger screens */
  .cards.info-card > ul > li {
    border: 0;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  /* Scrap the first child margin since we are laying out in a row not a column */
  .cards.info-card > ul > li:first-child {
    margin-bottom: 0;
  }

  /* Layout tweaks for the clickable container area in the info card */
  .cards.info-card .cards-card-body {
    min-height: 48.5rem;
    padding: 8rem 7rem;
  }

  /* Layout tweaks for the title of the info card */
  .cards.info-card .header-container {
    margin-bottom: 2rem;
    min-height: 19.1rem;
  }

  /* Layout tweaks for the description text of the info card */
  .cards.info-card .button-container {
    margin-bottom: 4rem;
  }

  /* Layout tweaks for the arrow icon */
  .cards.info-card .icon-arrow-link {
    position: absolute;
    bottom: 8rem;
    left: 7rem;
  }
}

@media (min-width: 1200px){
  .cards.info-card .button-container {
    font-size: 1.7rem;
  }

  .cards.info-card .icon-arrow-link {
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    line-height: 2.4rem;
  }

  /* Font styling tweaks for the title of the card */
  .cards.info-card .card-title {
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: -.15rem;
    line-height: 3.2rem;
    text-decoration: none;
  }
}

.cards.card-link > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.cards.card-link > ul > li {
  box-shadow: 0 0 20px 0 rgba(0 0 0 / 10%);
  border: 1px solid #eee;
  width: 100%;
}

.cards.card-link > ul > li:hover {
  border: 1px solid #bbb;
}

@media (min-width: 600px) {
  .cards.card-link > ul > li {
    flex: 0 1 30%;
  }
}

@media (min-width: 1200px) {
  .cards.card-link > ul {
    gap: 40px;
  }
}

.cards.card-link > ul > li > a {
  color: #000;
}

.cards.card-link > ul > li > a:hover {
  text-decoration: none;
}

.cards.card-link .cards-card-image {
  box-sizing: border-box;
  background-color: #000;
  position: relative;
  padding-bottom: 33%;
  overflow: hidden;
}

.cards.card-link > ul > li > a > div > div img {
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  transition: transform .3s ease;
}

.cards.card-link > ul > li > a:hover img {
  transform: scale(1.1);
}

.cards.card-link > ul > li > a > div > div.cards-card-body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2.8rem;
}

@media (min-width: 900px) {
  .cards.card-link > ul > li > a > div > div.cards-card-body {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    margin-right: 5rem;
  }
}

.cards.card-link > ul > li > a > div > div.cards-card-body > p:nth-child(1) {
  text-transform: uppercase;
  font-size: var(--body-font-size-xxxs);
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  margin: 0;
}

.cards.card-link > ul > li > a > div > div.cards-card-body > p:nth-child(2) {
  font-size: var(--body-font-size-s);
  font-weight: 600;
  letter-spacing: -0.25px;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.cards.card-link > ul > li > a > div > div.cards-card-body > p:nth-child(3) {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  letter-spacing: -0.25px;
}

.cards.card-link > ul > li > a > div > div.cards-card-body > p:nth-child(3)::after {
  font-family: var(--icon-font-family);
  content: var(--vlt-right-arrow);
  margin-left: 1rem;
  position: absolute;
  transition: padding .3s ease;
}

.cards.card-link > ul > li > a:hover div.cards-card-body > p:nth-child(3)::after {
  padding-left: 1.5rem;
}
