/* stylelint-disable no-descending-specificity */

:root {
  /* colors */
  --info-card-background-color: #000;
  --info-card-color: #FFF;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.gradient-shadow ul {
  grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  .cards.gradient-shadow ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    height: 100%;
  }
}

.cards.gradient-shadow li {
  margin-top: 0;
  outline: none;
  border: 0;
  border-radius: 35px;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 245px;
}

.cards.gradient-shadow .card-extrusion {
  background: linear-gradient(135deg,#d41f9c,#ffa78c);
  position: absolute;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
}

.cards.gradient-shadow li:nth-of-type(4) .card-extrusion {
  background: linear-gradient(135deg,#80c7f5,#d6219c);
}

.cards.gradient-shadow li:nth-of-type(3) .card-extrusion {
  background: linear-gradient(135deg,#871fff,#7ec9f4);
}

.cards.gradient-shadow li:nth-of-type(2) .card-extrusion {
  background: linear-gradient(135deg,#80c7f5,#d6219c);
}

.cards.gradient-shadow .card-container {
  border-radius: 35px;
  position: relative;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  transition: transform 250ms ease-in-out;

  /* box-shadow: 10px 10px lightblue; */
  padding: 20px;
}

.cards.gradient-shadow .card-container:hover {
  transform: translateY(-10px) translateX(-10px);
}

.cards.gradient-shadow .card-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cards.gradient-shadow .card-title h4 {
  font-size: 19px;
  font-weight: 500;
  align-items: center;
  padding-left: 13px;
}

.cards.gradient-shadow .cards-card-image {
  background: linear-gradient(135deg,#d41f9c,#ffa78c);
  height: 38px;
  width: 38px;
  margin-left: 16px;
}

.cards.gradient-shadow .cards-card-body {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
  display: block;
}

.cards.gradient-shadow .button-container > a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 0;
  border-radius: 0;
}

.cards.gradient-shadow .button-container {
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cards.gradient-shadow .button-container > a::after {
  background-color: #000;
  display: block;
  content: "";
  height: 0.2rem;
}

.cards.gradient-shadow > ul > li img {
  aspect-ratio: auto;
  object-fit: cover;
  width: 38px;
  height:38px;
}

/* Styling for the black-gradient-highlight card variation */

.cards.info-card > ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  grid-gap: 0;
}

.cards.info-card > ul > li {
  border: 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.cards.info-card .card-container {
  min-height: 48.5rem;
  height: 100%;
}

.cards.info-card .cards-card-body {
  display:block;
  background-color: var(--info-card-background-color);
  margin: 0;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
}

.cards.info-card .card-title {
  font-size: 2.9rem;
  font-weight: 600;
  letter-spacing: -.15rem;
  line-height: 3.2rem;
  color: white;
  text-decoration: none;
}

.cards.info-card .header-container {
  margin-bottom: 2rem;
  min-height: 19.1rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: flex;
}

.cards.info-card .button.primary {
  background-color: black;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  white-space: normal;
  text-align: left;
}

.cards.info-card .icon-arrow-link::before {
  content: "\e90c";
  color: white;
  font-family: VltIcons!important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  speak: none;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px){
  .cards.info-card .cards-card-body {
    padding: 8rem 7rem;
  }

  .cards.info-card .header-container {
    margin-bottom: 2rem;
    min-height: 19.1rem;
  }

  .cards.info-card .button-container {
    margin-bottom: 4rem;
  }

  .cards.info-card .icon-arrow-link {
    position: absolute;
    top: 38rem;
  }
}

@media (min-width: 1200px){
  .cards.info-card .button-container {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -.02rem;
    line-height: 2rem;
    color: white;
    text-decoration: none;
  }
}
