.block.faceted-search {
  display: flex;
}

.results-section-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

.results-section-wrapper .card {
  display: grid;
  grid-template-columns: 6rem auto 0;
  border-radius: 1rem;
  border: 0.1rem solid #c1c3cd;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 10%);
  padding: 1.6rem;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.results-section-wrapper .mobile-only {
  display: none;
}

.results-section-wrapper .card-left-wrapper--logo {
  width: 6rem;
  height: 6rem;
}


.filter-btn-options-wrapper-desktop {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.filter-btn-options-wrapper-desktop .btn-options-list {
  gap: 1.2rem;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.filter-btn-options-wrapper-desktop .btn-options-list .filter-btn {
  border-radius: 2.5rem;
  height: 4rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--fixed-font-family);
  font-size: 1.6rem;
  font-weight: 600;
  padding-right: 1.8rem;
  padding-left: 1rem;
}

.filter-btn-options-wrapper-desktop .btn-options-list .filter-btn i {
  margin-right: .8rem;
  font-size: 2rem;
  font-weight: 500;
}

.filter-btn-options-wrapper-desktop .btn-options-list .filter-option {
  border-radius: 2.5rem;
  height: 4rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--fixed-font-family);
  font-size: 1.6rem;
  padding-right: 1.8rem;
  padding-left: 1rem;
  font-weight: 500;
  background-color: #881fff;
  color: #fff;
  line-height: 3.2rem;
}

.filter-btn-options-wrapper-desktop .btn-options-list .filter-option i {
  margin-right: .8rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.filter-btn-options-wrapper-desktop .btn-options-list .filter-option:last-child {
  margin-right: 0;
}


.search-filters-root .no-results {
  margin-top: 2rem;
  display: none;
}


.results-section .filter-btn-options-wrapper-desktop .btn-options-list .filter-btn {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: var(--body-font-family);
}

.results-section .filter-btn-options-wrapper-desktop .btn-options-list .filter-option {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: var(--body-font-family);
}

.results-section .filter-btn-options-wrapper-desktop .btn-options-list .filter-option.clear-filter-section {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
}



.filter-options-wrapper {
  border-radius: 1rem;
  min-width: 24.1rem;
  background-color: #fafafa;
  padding: 2.4rem;
}

.filter-options-wrapper details.accordion-bar {
  cursor: pointer;
  position: relative;
  margin-top: 2.4rem;
}

.filter-options-wrapper details.accordion-bar:first-child {
  margin-top: 0;
}


.filter-options-wrapper details.accordion-bar summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: var(--body-font-family);
  user-select: none;
  margin-bottom: 2rem;
}

.filter-options-wrapper details.accordion-bar .summary-chevron {
  pointer-events: none;
  position: absolute;
  top: -.2rem;
  font-size: 2.4rem;
  right: 1rem;
  background: #fafafa;
}

.filter-options-wrapper details.accordion-bar .summary-chevron span::before {
  display: block;
  content: var(--vlt-down-chevron-icon);
  font-family: var(--icon-font-family);
  font-size: 1.8rem;
}

.filter-options-wrapper details.accordion-bar[open] .summary-chevron span {
  transform: rotate(180deg);
}


.filter-options-wrapper details.accordion-bar  .filter-options-wrap {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter {
  height: 3.8rem;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container {
  display: flex;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  font-family: var(--body-font-family);
  font-weight: 500;
  cursor: pointer;
  font-size: 1.4rem;
  min-height: 2rem;
  user-select: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container.check-hide {
  display: none;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container.check-disabled {
  font-weight: 200;
  color: #c1c3cd;
  cursor: default;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container.check-disabled .checkmark {
  border-color: #c1c3cd;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container.check-disabled .option-num {
  color: #c1c3cd;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: .1rem solid #9b9b9b;
  background-color: #fff;
  font-size: 2rem;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container .checkmark::after {
  content: "\e90e";
  position: absolute;
  display: none;
  color: #fff;
  font-family: var(--icon-font-family);
  font-style: normal;
  font-variant: normal;
  width: 2rem;
  height: 2rem;
  bottom: .9rem;
  font-size: 2.6rem;
  left: -.3rem;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container .option-num {
  color: #717171;
  margin-left: .5rem;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container .option-txt {
  text-transform: capitalize;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container input:checked~.checkmark {
  background-color: #881fff;
}

.filter-options-wrapper details.accordion-bar  .filter-options-wrap .option-filter .checkbox-wrapper .filter-container input:checked~.checkmark::after {
  display: block;
}



.filter-btn-options-wrapper {
  display: none;
}

/* mobile */
@media (max-width: 767.98px) {
  .main-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .results-section-wrapper {
    padding: 1rem;
    display: flex;
    grid-template-columns: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }

  .results-section-wrapper .mobile-only {
    display: block;
  }

  .sub-header {
    display:none!important;
  }

  .filter-options-wrapper {
    display: none;
  }

  .filter-btn-options-wrapper {
    display: block;
    width: 100%;
    height: 6rem;
    font-size: 1.5rem;
    font-family: var(--body-font-family);
    font-weight: 500;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-right: 4rem;
  }

  .filter-btn-options-wrapper .btn-options-list {
    gap: 1.2rem;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }

  .filter-btn-options-wrapper .btn-options-list .filter-btn {
    border-radius: 2.5rem;
    min-height: 4rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    font-family: var(--fixed-font-family);
    font-size: 1.6rem;
    font-weight: 600;
    border: .1rem solid #9b9b9b;
    height: 4rem;
    margin-top: 2rem;
  }

  .filter-btn-options-wrapper .btn-options-list .filter-btn i.Vlt-icon-filter {
    margin-left: .8rem;
  }

  .filter-btn-options-wrapper .btn-options-list .filter-btn.active {
    background-color: #881fff;
    color: #fff;
    border: .1rem solid #881fff;
  }

  .filter-options-container {
    overflow-y: auto;

    /* display: block; TODO */
    background-color: #fff;
    z-index: 999;
    min-width: 100%;
    min-height: 100%;
    font-family: var(--body-font-family);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .filter-options-container.show {
    display: block;
  }

  .filter-options-container .filter-head {
    height: 6rem;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .1rem solid hsl(0deg 0% 59.2% / 20%);
    padding: 0 1.2rem;
  }

  .filter-options-container .filter-head .close-wrap {
    font-weight: 500;
    font-size: 2.8rem;
    cursor: pointer;
  }

  .filter-options-container .filters {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .filter-options-container .filters span {
    font-weight: 500;
    text-transform: capitalize;
  }

  .filter-options-container .filters i.Vlt-icon-filter {
    margin-left: .8rem;
    font-size: 2.2rem;
  }

  .filter-options-container .clear-wrap span {
    color: #000;
    opacity: .3;
    font-size: 1.5rem;
    font-family: var(--body-font-family);
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
  }

  .filter-body .list-items {
    list-style-type: none;
    padding: 0 2.4rem;
    position: relative;
    z-index: 999;
  }

  .filter-body .list-items .title {
    min-height: 5.8rem;
    line-height: 5.8rem;
    border-bottom: .1rem solid hsl(0deg 0% 59.2% / 20%);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .filter-body .list-items .title span.accordion {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .filter-body .list-items .title span.accordion.active .Vlt-icon-chevron {
    transform: rotate(180deg);
  }

  .filter-body .list-items .title .panel {
    width: 100%;
  }

  .filter-body .list-items .title .panel .list-desc {
    list-style-type: none;
    padding: 0;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl.check-hide {
    display: none;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl.check-disabled {
    font-weight: 200;
    color: #c1c3cd;
    cursor: default;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl.check-disabled .checkmark {
    border-color: #c1c3cd;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl.check-disabled .count {
    color: #c1c3cd;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    bottom: 0;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl input:checked~.checkmark {
    background-color: #fff;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl .checkmark {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border: .1rem solid #9b9b9b;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl .checkmark::after {
    left: -.4rem;
    top: -2rem;
    width: 1rem;
    height: 1rem;
    color: #881fff;
    font-size: 2.6rem;
    font-weight: 500;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl .title {
    text-transform: capitalize;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl .count {
    color: #5f6169;
    font-size: 1.4rem;
  }

  .filter-body .list-items .title .panel .list-desc .checkmark::after {
    content: "\e90e";
    position: absolute;
    display: none;
    font-family: var(--icon-font-family);
    font-style: normal;
    font-variant: normal;
  }

  .filter-body .list-items .title .panel .list-desc .check-lbl input:checked~.checkmark::after {
    display: block;
  }

  .filter-body .list-items .title .panel .list-desc li {
    width: 100%;
  }

  .filter-body .list-items .title .panel .list-desc li label {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .filter-body .list-items .title .panel .list-desc .wrapper-checkbox,.filter-foot {
    position: relative;
  }

  .filter-foot {
    z-index: 600;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1.4rem;
  }

  .filter-foot button {
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    height: 4.2rem;
    line-height: 4.2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: var(--body-font-family);
    cursor: pointer;
  }
}



.pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.pagination__page {
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0;
  margin: 0 .2rem;
  color: black;
  background-color: transparent;
}

.pagination__page,.pagination__page--current {
  font-family: var(--fixed-font-family);
  line-height: 2rem;
  text-transform: uppercase;
  height: 3.7rem;
  width: 3.7rem;
}

.pagination__page--current {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  transition: background-color .8s ease-in-out;
  text-align: center;
  letter-spacing: 0;
}

.pagination__arrow {
  cursor: pointer;
  font-size: 2.4rem;
  height: 3.7rem;
  opacity: 0;
  padding-left: .5rem;
  visibility: hidden;
  width: 3.7rem;
  background-color: transparent;
  color: black;
}

.pagination__arrow .Vlt-icon-chevron {
  transform: rotate(90deg);
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.pagination__arrow--next .Vlt-icon-chevron {
  transform: rotate(-90deg);
}

.pagination__arrow--show {
  display: inline-block;
  opacity: 1;
  transition: opacity .8s ease-in-out;
  visibility: visible;
}



@media (min-width: 768px) {
  .pagination__page {
    font-family:var(--fixed-font-family);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 2rem;
  }
}

@media (min-width: 1200px) {
  .pagination__page {
    font-family:var(--fixed-font-family);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .pagination__page--current {
    font-family:var(--fixed-font-family);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .075rem;
    line-height: 2rem;
  }
}

@media (min-width: 1200px) {
  .pagination__page--current {
    font-family:var(--fixed-font-family);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .075rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .pagination__page {
    margin:0 .5rem;
  }
}
