.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.slim-promo a.button.secondary {
  background-color: #fff;
  border-radius: 1.5rem;
  font-size: 14px;
  padding: 1rem;
  transition: all .35s ease;
  text-decoration: none;
}

div.columns-container:has(.slim-promo) {
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/** for FireFox (lack of) support for :has selector **/
.black-bg {
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.slim-promo.columns-2-cols p {
  font-family: var(--body-font-family);
  font-weight: 400;
  letter-spacing: .025rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  display: none;
  text-align: center;
}


div.slim-promo.columns-2-cols > div > div.columns-img-col {
  max-width: 16%;
  display: none;
}

div.slim-promo.columns-2-cols > div > div:nth-child(2) {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


div.slim-promo.columns-2-cols h2 {
  font-family: var(--body-font-family);
  font-weight: 700;
  line-height: 4.7rem;
  font-size: 1.6rem;
  margin-top: 0;
  width: auto;
  text-align: center;
  margin-right: 1.5rem;
}

div.slim-promo a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  div.slim-promo.columns-2-cols > div > div.columns-img-col {
    max-width: 16%;
    display: block;
  }

  .slim-promo a.button.secondary {
    display: none;
  }

  div.slim-promo.columns-2-cols h2 {
    font-family: var(--body-font-family);
    font-weight: 500;
    letter-spacing: -.18rem;
    line-height: 3.6rem;
    font-size: 3.5rem;
    margin-top: 0;
    text-align: left;
  }

  div.columns.slim-promo > div {
    flex-direction: initial;
    column-gap: 20px;
  }

  div.slim-promo.columns-2-cols p {
    font-family: var(--body-font-family);
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    display: block;
    text-align: left;
  }

  div.slim-promo.columns-2-cols > div > div:nth-child(2) {
    justify-content: left;
  }
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (min-width: 1200px) {
  div.slim-promo.columns-2-cols h2 {
    font-family: var(--body-font-family);
    font-weight: 500;
    letter-spacing: -.2rem;
    line-height: 4.7rem;
    font-size: 4.5rem;
    margin-top: 0;
    width: auto;
    text-align: left;
  }
}


