/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-direction: row;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.columns > div > div:not(.columns-img-col) > h3 {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xxxs);
  text-transform: uppercase;
}

.slim-promo a.button.secondary {
  background-color: #fff;
  border-radius: 1.5rem;
  font-size: 14px;
  padding: 1rem;
  transition: all .35s ease;
  text-decoration: none;
}

div.columns.category-grid > div {
  align-items: flex-start;
}

div.columns.category-grid p {
  font-size: var(--body-font-size-xxs);
  font-weight: 400;
  letter-spacing: -.02rem;
  line-height: 2rem;
}

div.slim-promo.columns-2-cols p {
  font-family: var(--body-font-family);
  font-weight: 400;
  letter-spacing: .025rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  display: none;
  text-align: center;
}

div.columns.lead-gen > div {
  gap: 10px;
  flex-direction: column;
}

div.columns.basic-columns > div {
  flex-flow: row wrap;
  gap: 0;
  align-items: flex-start;
}

div.market-place-summary.columns-2-cols > div > div > p,
div.market-place-summary.columns-2-cols > div > div > ul > li {
  font-size: 17.5px;
}

div.columns.basic-columns > div > div > p {
  font-size: var(--body-font-size-xxs);
  letter-spacing: -0.02rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

div.columns.lead-gen>div>div:last-child>p {
  font-size: var(--body-font-size-xs);
  margin-top: 0;
  margin-bottom: .8rem;
  text-align: center;
}

div.columns.plans > div {
  padding-top: 70px;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

div.columns.plans > div > div {
  background-color: #fff;
  border-radius: 2.2rem;
  padding: 32px 56px;
  height: auto;
}

div.columns.plans > div h3 {
  font-size: var(--heading-font-size-l);
  text-align: center;
  line-height: 32px;
  font-family: var(--body-font-family);
  text-transform: unset;
  font-weight: 500;
  max-width: 256px;
}

div.columns.plans > div > div > p:nth-child(2) {
  font-weight: 400;
  letter-spacing: -0.02px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

div.columns.plans > div > div > p:not(.button-container):nth-child(4),
div.columns.plans > div > div > p:not(.button-container):nth-child(5) {
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
}

div.columns.plans > div > div > ul {
  padding-inline-start: 0;
  margin-top: unset;
}

div.columns.plans > div > div > ul > li {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  list-style: none;
  word-break: break-word;
  margin-left: 20px;
  letter-spacing: -0.2px;
  padding-left: 10px;
}

div.columns.plans > div > div > ul > li::marker {
  content: var(--vlt-checkmark-icon);
  color: var(--accent-color);
  font-family: var(--icon-font-family);
  font-size: 1rem;
}

div.columns.plans > div > div > p.button-container {
  text-align: center;
  margin-bottom: unset;
  width: 100%;
  margin-top: unset;
}

div.columns.plans > div > div > p.button-container a.button.primary {
  width: 100%;
  margin-bottom: 0;
}

div.columns.plans > div > div > p.button-container a.button.secondary {
  white-space: break-spaces;
  height: auto;
  width: 100%;
  margin-top: 0;
  line-height: normal;
  min-height: 5.6rem;
  padding: 1.6rem;
}

.black-bg {
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.section.black-bg.columns-container {
  padding-bottom: 0;
}

div.columns.border-bottom-gray {
  border-bottom: .1rem solid lightgray;
}

div.columns.category-grid a {
  color: #000;
  text-decoration: underline;
}

div.columns.category-grid h4 {
  font-family: var(--fixed-font-family);
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
  font-weight: 600;
  letter-spacing: .075rem;
  line-height: 2rem;
}

div.columns.basic-columns>div>div {
  flex: 1 1 100%;
  padding-right: 2.7777%;
}

div.columns.lead-gen>div>div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}

div.slim-promo.columns-2-cols>div>div.columns-img-col {
  max-width: 16%;
  display: none;
}

div.slim-promo.columns-2-cols>div>div:nth-child(2) {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.slim-promo.columns-2-cols h2 {
  font-family: var(--body-font-family);
  font-weight: 700;
  padding: 2rem 0;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  text-align: center;
  margin-right: 1.5rem;
}

div.columns.category-grid {
  border-bottom: 0.1rem solid #dcdde6;
  padding-bottom: 60px;
}

div.callout-promo-wrapper {
  padding: 0 16px 64px;
}

div.callout-promo-container {
  padding: 0;
}

div.market-place-summary.columns-2-cols > div > div:first-child {
  background-color: var(--overview-background-color);
  padding: 4rem;
  margin-bottom: 5rem;
}

div.columns.lead-gen>div>div:last-child>p>a {
  color: inherit;
  text-decoration: underline;
}

div.market-place-summary.columns-2-cols div.recs .col>a {
  align-items: center;
  min-height: 8rem;
  display: flex;
  height: 100%;
}

div.columns.lead-gen>div>div:last-child>p:last-child>a {
  width: 100px;
}

div.market-place-summary.columns-2-cols div.recs .col>a:hover {
  text-decoration: none;
}

div.market-place-summary.columns-2-cols .recs {
  margin-right: 20px;
}

div.market-place-summary.columns-2-cols h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: .86;
  letter-spacing: -1.5px;
  color: #000;
  margin-bottom: 2rem;
  text-align: left;
}

div.columns.basic-columns>div>div>h2 {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.075rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

div.market-place-summary.columns-2-cols .recs h2 {
  margin-top: 0;
  padding: 10px 20px;
}

div.market-place-summary .recs .row {
  display: flex;
  flex-wrap: wrap;
}

div.market-place-summary .recs .col {
  flex: 100%;
  margin: 0 0 3rem;
  min-height: 10rem;
  padding: 1rem 1rem 0 2rem;
  border-radius: 1.6rem;
  box-shadow: 0 0 9px 0 rgb(81 133 236 / 15%);
  background-color: #fff;
}

div.market-place-summary.columns-2-cols .recs .col>a>picture>img {
  max-width: 10rem;
  padding-right: 0.5rem;
  margin: auto 0;
  max-height: 8rem;
  position: relative;
  width: 100%;
}

div.market-place-summary .recs .col>a>div {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000;
  display: flex;
  margin: auto 0;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

div.columns.block {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

div.columns.lead-gen>div>div.columns-img-col {
  flex: 0 0 0;
  width: 75px;
  min-width: 75px;
  height: 75px;
}

div.columns.lead-gen>div>div:nth-child(2) {
  flex: 1 0 0;
}

div.columns.lead-gen>div>div:nth-child(2)>h2 {
  font-size: var(--body-font-size-xl);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

div.columns.lead-gen>div>div:last-child {
  flex: 0 0 0;
  box-sizing: border-box;
  min-width: 300px;
  text-decoration: none;
  color: inherit;
}

div.columns.lead-gen>div>div:last-child>p:last-child {
  padding-top: 1.6rem;
  margin-bottom: 0;
}

div.columns.lead-gen>div>div:last-child>p:last-child>a::before {
  font-family: var(--icon-font-family);
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-block;
  letter-spacing: 0;
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}

div.columns.lead-gen>div>div:last-child>p:last-child>a:first-child::before {
  content: var(--vlt-mail-icon);
}

div.columns.lead-gen>div>div:last-child>p:last-child>a:last-child::before {
  content: var(--vlt-dialog-bubble-icon);
  margin-left: 30px;
}

@media (min-width: 576px) {
  div.columns.block {
    max-width: 540px;
  }
}

@media (min-width: 600px) {
  div.columns.basic-columns>div>div {
    flex: 1 1 45%;
  }

  div.columns.lead-gen>div>div.columns-img-col {
    width: 93px;
    min-width: 93px;
    height: 93px;
  }
}

@media (min-width: 768px) {
  div.slim-promo.columns-2-cols>div>div.columns-img-col {
    max-width: 16%;
    display: block;
  }

  div.slim-promo a.button.secondary {
    display: none;
  }

  div.slim-promo.columns-2-cols h2 {
    font-family: var(--body-font-family);
    font-weight: 500;
    letter-spacing: -.18rem;
    line-height: 3.6rem;
    font-size: 3.5rem;
    margin-top: 0;
    text-align: left;
  }

  div.columns.slim-promo>div {
    flex-direction: initial;
    column-gap: 20px;
  }

  div.slim-promo.columns-2-cols p {
    font-family: var(--body-font-family);
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    display: block;
    text-align: left;
  }

  div.columns.block.plans > div {
    flex-direction: column;
    align-items: center;
  }

  div.slim-promo.columns-2-cols>div>div:nth-child(2) {
    justify-content: left;
  }

  div.market-place-summary.columns-2-cols>div>div:first-child {
    background-color: var(--overview-background-color);
    border-radius: 3rem;
    padding: 4rem;
    margin-bottom: 5rem;
  }

  div.columns.block {
    max-width: 45pc;
  }

  div.callout-promo-container {
    padding-top: 4rem;
  }

  div.columns.block.plans > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.columns.block.plans > div > div > p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    max-width: 379px;
  }

  div.columns.block.plans > div > div > h3 {
    max-width: 379px;
    letter-spacing: -0.05rem;
    font-size: var(--body-font-size-l);
    font-weight: 500;
  }

  div.columns.block.plans > div > div > ul {
    margin: 1.4rem auto 0;
  }
}

/*  Case Study Column Variant */

/* Container padding and background */
div.case-study.columns-container {
  padding: 0 3.2rem;
}

/* Layout for main content div container of this column variant */
div.case-study.columns-container .columns.block > div {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

/* Layout for the div content containers */
div.case-study.columns-container .columns.block > div > div {
  box-sizing: border-box;
}

/* Make the first content child div (which is an image) relative for positioning the overlay image */
div.case-study.columns-container .columns.block > div > div.columns-img-col {
  position:relative;
}

/* Remove the top margin on the div around the first p in the content so the content aligns to the top of the section */
div.case-study.columns-container .columns.block > div > div > p:first-child {
  margin-top:0;
}

/* Positioning the overlay image */
div.case-study.columns-container .columns.block > div > div > p:nth-child(2) > picture {
  position: absolute;
  top: 0;
  width: 22%;
}

/* Layout for the testimonial content container */
div.case-study.columns-container .columns.block > div > div.columns-other-col {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

/* Layout for the div container for the citation and testimonial */
div.case-study.columns-container .columns.block > div > div.columns-other-col > div {
  display: flex;
}

/* Styling for lines of the testimonial */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p {
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -.02rem;
  line-height: 2.0rem;
  margin: 0 auto 3rem;
  text-align: center;
}

/* Styling for the first line of the testimonial */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p:first-child {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -.05rem;
  line-height: 2.0rem;
}

/* Styling for the citation */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p:nth-last-child(2) {
  font-family: var(--fixed-font-family);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .2rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: block;
  font-style: normal;
}

/* Prevent the CTA buttons from spanning the full width of the container */
div.case-study.columns-container .columns.block > div > div.columns-other-col > div > a {
  margin-left: auto;
  margin-right:auto;
}

/* Make sure the font on the secondary button is normal */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p:nth-last-child(2) > em {
  font-style: normal;
}

/* Tighten up the margins on the CTA buttons */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p  a {
  margin-top:0;
  margin-bottom:0;
}

/* Switch any testimonial link and the secondary button to just be text with an underline */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p > a,
div.case-study.columns-container .columns.block > div > div.columns-other-col > div > a:nth-child(2) {
  background-color: transparent;
  color: #000;
  border: none;
  font-family: var(--fixed-font-family);
  font-weight: 600;
  overflow: visible;
  line-height: unset;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

div.case-study.columns-container .columns.block > div > div.columns-other-col > p > a {
  font-size: 1.7rem;
  font-weight: 400;
}

/* Add the underline to the secondary CTA button as a psuedo element */
div.case-study.columns-container .columns.block > div > div.columns-other-col > p > a::after,
div.case-study.columns-container .columns.block > div > div.columns-other-col > div > a:nth-child(2)::after {
  background-color: #000;
  content: "";
  display: block;
  height: 0.2rem;
  width: 100%;
}

div.columns.details-columns {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

div.columns.details-columns > div {
  display: flex;
  flex-wrap: wrap;
}

/* div.columns.details-columns > div > div.columns-img-col {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
} */

div.columns.details-columns > div > div.columns-other-col {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

div.columns.details-columns > div > div.columns-other-col > h2 {
  font-size: var(--heading-font-size-m);
  font-weight: 500;
  letter-spacing: -0.15rem;
}

div.columns.details-columns > div > div.columns-other-col > p {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  letter-spacing: -0.02rem;
}

div.columns.details-columns > div > div.columns-other-col > p.button-container {
  margin-top: 5rem;
}

div.columns.details-columns > div > div.columns-other-col > p.button-container > a {
  color: var(--text-color);
  display: inline-block;
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xxs);
  font-weight: 600;
  letter-spacing: 0.075rem;
  line-height: 2rem;
  text-decoration: underline;
  scale: 1.0;
  transition: transform 0.2s ease;
}

div.columns.details-columns > div > div.columns-other-col > p.button-container > a:hover {
  transform: scale(1.02);
}

div.columns.details-columns > div > div.columns-other-col > ul {
  column-count: 2;
  column-gap: 4rem;
  font-size: 1.4rem;
  font-weight: 400rem;
  letter-spacing: .025rem;
  color:  var(--text-color);
  text-decoration-color: var(--text-color);
  text-decoration-line: none;
}

div.columns.details-columns > div > div.columns-other-col > ul a {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
}

div.columns.details-columns > div > div.columns-other-col > ul a:any-link {
  transition: transform .2s;
}

div.columns.details-columns > div > div.columns-other-col > ul a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  div.columns > div {
    align-items: center;
    gap: 32px;
  }

  div.market-place-summary>div {
    flex-direction: column;
  }

  div.columns>div>div {
    flex: 1;
    order: unset;
  }

  div.columns.lead-gen>div>div {
    margin: 0;
  }

  div.columns.lead-gen>div>div:last-child>p {
    text-align: left;
  }

  div.columns.lead-gen>div>div.columns-img-col {
    width: 130px;
    min-width: 130px;
    height: 130px;
    margin-right: 10px;
  }

  div.case-study.columns-container .columns.block > div > div.columns-img-col {
    flex-basis: 0;
    flex-grow: 1;
  }

  div.case-study.columns-container .columns.block > div > div.columns-other-col {
    flex: 0 0 66.67%;
    max-width: 66.67%;
    padding: 2.5rem 0;
  }

  div.case-study.columns-container .columns.block.equal-columns > div > div.columns-other-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2.5rem 0;
  }

  div.case-study.columns-container .columns.block > div > div.columns-other-col > p {
    text-align: left;
    margin-left:0;
    margin-right:0;
  }

  div.case-study.columns-container .columns.block > div > div.columns-other-col > div > a:first-child {
    float: left;
    margin-right: 7.3rem;
  }

  div.case-study.columns-container .columns.block > div > div.columns-other-col > div > a:nth-child(2) {
    margin-top: 4rem;
  }

  div.case-study.columns-container .columns.block > div > div.columns-other-col > div {
    display: block;
  }

  div.case-study.columns-container .columns.block > div > div > p:first-child {
    margin-top:1em;
  }

  div.case-study.columns-container .columns.block > div > div > p:nth-child(2) > picture {
    position: absolute;
    top: 2.2rem;
    width: 22%;
  }

  div.columns.block.details-columns > div > div.columns-img-col {
    flex: 1 0 0;
  }

  div.columns.block.details-columns > div > div.columns-other-col {
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
  }

}

@media (min-width: 992px) {
  div.columns.block {
    max-width: 990pt;
  }

  div.columns > div {
    flex-direction: row;
  }

  div.columns.lead-gen > div {
    flex-direction: row;
  }

  div.market-place-summary>div {
    flex-direction: unset;
    gap: 32px;
    align-items: start;
  }

  div.market-place-summary > div > div {
    flex: 0 0 55%;
    max-width: 55%;
  }

  div.market-place-summary .recs {
    flex: 0 0 33%;
    max-width: 33%;
  }

  div.columns.block.plans > div {
    flex-direction: row;
    align-items: stretch;
  }

  div.columns.plans > div > div > h3 {
    letter-spacing: -0.6px;
    font-size: var(--heading-font-size-l);
    line-height: 3.2rem;
    font-weight: 500;
    max-width: 100%;
  }

  div.columns.plans > div > div > p:not(.button-container):nth-child(4),
  div.columns.plans > div > div > p:not(.button-container):nth-child(5),
  div.columns.plans > div > div > ul {
    max-width: 70%;
  }

}

@media (min-width: 1200px) {
  div.slim-promo.columns-2-cols h2 {
    font-family: var(--body-font-family);
    font-weight: 500;
    letter-spacing: -.2rem;
    line-height: 4.7rem;
    font-size: 4.5rem;
    margin-top: 0;
    width: auto;
    text-align: left;
  }

  /* Styling for lines of the testimonial */
  div.case-study.columns-container .columns.block > div > div.columns-other-col > p {
    font-size: 1.7rem;
  }

  /* Styling for the first line of the testimonial */
  div.case-study.columns-container .columns.block > div > div.columns-other-col > p:first-child {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
}

span.view-offer {
  background-color: #fff;
  transition: all .35s ease;
  padding: 1rem;
  color: #000;
  border-radius: 1.5rem;
  font-size: 14px;
  text-align: center;
  line-break: none;
  font-weight: 400;
  width: 8rem;
  opacity: 1;
  position: relative;
  height: 30%;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.8rem;
}

span.controls {
  width: 75pt;
  position: relative;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
}

span.close-x {
  opacity: 0;
  transition: all .35s ease;
  position: absolute;
  top: 0;
  right: 0;
}

/* Dont' show the View Offer controls in desktop mode */
@media (min-width:768px) {
  span.controls {
    display: none;
  }
}
