/* block specific CSS goes here */
/* stylelint-disable no-descending-specificity */

main .landing-page-hero {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 6rem;
}

main .landing-page-hero-column.media, main .landing-page-hero-column.category {
  flex: 0 0 100%;
  max-width: 100%;
}

.landing-page-hero-category-content .title {
  font-family: var(--body-font-family);
  font-weight: 500;
  letter-spacing: -.125rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  font-size: 3.6rem;
}

.landing-page-hero-category-content ul {
  display: flex;
  flex-flow: row nowrap;
  padding-inline-start: 0;
}

.landing-page-hero-category-content ul > li {
  list-style: none;
}

.landing-page-hero-category-content ul > li > a {
  color: var(--text-color);
  font-weight: 600;
}

.landing-page-hero-category-content ul > li > a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.landing-page-hero-category-content .divider {
  padding-left: 1rem;
  padding-right: 1rem;
}

.landing-page-hero-category-content .inline-bulleted-list ul {
  display: block;
  margin-top: 1rem;
  list-style-type: disc;
  padding-left: 2rem;
}

.landing-page-hero-category-content .inline-bulleted-list ul > li {
  font-family: var(--body-font-family);
  font-weight: 400;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  letter-spacing: -.02rem;
  line-height: 2rem;
  list-style: disc;
}

.section.landing-page-hero-container.purple-gradient-background {
  background: linear-gradient(90deg, #881fff 40%, #827ef9);
  color: #fff;
  padding-bottom: 0;
  padding-top: 0;
}

.landing-page-hero .ctas a {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--background-color);
  background-color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  line-height: 70px;
  height: 7rem;
  transition: transform .2s;
}

.landing-page-hero .ctas a:hover {
  transform: scale(1.02);
}

.landing-page-hero-category-content .ctas ul {
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
}

.landing-page-hero-category-content .ctas li {
  line-height: 0;
}


.landing-page-hero .ctas ul li:first-child a {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.landing-page-hero .ctas em > a {
  background-color: unset;
  color: var(--text-color);
  font-size: var(--button-font-size-m);
  line-height: 7rem;
  border-radius: 1rem;
  border: 2px solid currentcolor;
  transition: transform .2s;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 7rem;
}

.landing-page-hero .ctas.secondary-button-light em > a {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.landing-page-hero .ctas.secondary-button-electric-purple em > a {
  background-color: var(--accent-color);
  color: #fff;
}

.landing-page-hero .ctas.primary-button-light strong > a {
  background-color: #fff;
  color: #000;
}

.landing-page-hero .ctas.primary-button-electric-purple strong > a {
  background-color: var(--accent-color);
  color: #fff;
}

.landing-page-hero-media-content {
  align-items: center !important;
  position: relative;
}

.slim-video-cta {
  display: block;
  cursor: pointer;
  left: calc(50% - 5rem);
  outline: none;
  position: absolute;
  top: calc(50% - 5rem);
  background-color: transparent;
  font-family: var(--icon-font-family);
  color: var(--text-color);
  overflow-x: visible;
  overflow-y: visible;
  margin: 0;
  padding: 0;
  border: none;
}

.slim-video-cta:focus .play-video-background, .slim-video-cta:hover .play-video-background {
  transform: scale(1.19);
}

.slim-video-cta:hover {
  background-color: transparent;
}


.play-video-arrow::before {
  content: var(--vlt-small-play-icon);
  margin-left: -1em;
  color: #000;
  font-size: 10rem;
}

.play-video-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.play-video-background::before {
  content: var(--vlt-circle-icon);
  color: #fff;
  font-size: 10rem;
}

.play-video-background {
  display: block;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.video-overlay {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.video-overlay-video {
  background-color: #000;
  height: 0;
  margin: auto;
  max-width: 99.2rem;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.video-overlay-background {
  background: #000;
  cursor: pointer;
  height: 100%;
  opacity: .95;
  position: absolute;
  width: 100%;
}

.video-overlay-close {
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  height: 4.4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 4.4rem;
  z-index: 1;
  margin: 0;
  overflow: visible;
  padding-right: 0;
  padding-left: 0;
  line-height: normal;
  border: none;
}

.video-overlay-close:hover {
  background-color: var(--text-color);
}

.video-overlay-close .vlt-icon-close-circle::before {
  color: #fff;
  font-size: 4.4rem;
  left: calc(50% - 2.2rem);
  position: absolute;
  top: calc(50% - 2.2rem);
  font-family: var(--icon-font-family);
}

.vlt-icon-close-circle::before {
  content: var(--vlt-close-in-circle);
}

.video-overlay-open {
  display: flex;
}

.video-overlay-iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.landing-page-hero .description p {
  font-family: var(--body-font-family);
  font-size: 1.7rem;
  letter-spacing: -.025rem;
  line-height: 2.5rem;
  display: inline-block;
  width: 57rem;
  max-width: 100%;
}

.landing-page-hero .description a {
  color: var(--text-color);
  text-decoration: none;
}

.landing-page-hero .description p a {
  text-decoration: underline;
}

.landing-page-hero-media-content .caption {
  font-family: var(--body-font-family);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6rem;
  margin-top: 2rem;
  text-align: center;
  color: #777;
  position: relative;
  top: -2rem;
}

.landing-page-hero .disclaimer {
  font-family: var(--body-font-family);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6rem;
  text-align: left;
  margin-top: -2rem;
}

@media (min-width: 768px) {
  .landing-page-hero-category-content .title {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: -.15rem;
    line-height: 3.2rem;
  }

  main .landing-page-hero-column.category {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  main .landing-page-hero-column.media {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
  }

  .slim-video-cta {
    left: calc(50% - 7rem);
    top: calc(50% - 7rem);
  }

  .video-overlay-close {
    right: 5rem;
    top: 5rem;
  }

  .landing-page-hero .description p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.02rem;
    line-height: 2rem
  }

  .landing-page-hero .description li a {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    line-height: 2.5rem;
  }

  .landing-page-hero-media-content .caption {
    font-family: var(--body-font-family);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6rem;
  }

  .play-video-background::before, .play-video-arrow::before {
    font-size: 13rem;
  }
}

@media (min-width: 992px) {
  main .landing-page-hero-column.media, main .landing-page-hero-column.category {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .slim-video-cta {
    left: calc(50% - 8rem);
    top: calc(50% - 8rem);
  }

  .video-overlay-video {
    padding-bottom: 55.8rem;
  }
}

@media (min-width: 1200px) {
  .landing-page-hero-category-content .title {
    font-weight: 500;
    letter-spacing: -.12rem;
    font-size: 5.35rem !important;
    line-height: 5.5rem !important
  }

  .landing-page-hero .description p {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -.02rem;
    line-height: 2rem;
  }

  .video-overlay-close {
    right: 8rem;
  }

  .landing-page-hero .description li a, .landing-page-hero .description li span {
    font-size: 2.1rem;
    letter-spacing: -.025rem;
    line-height: 2.4rem;
  }

  .landing-page-hero-media-content .caption {
    font-family: var(--body-font-family);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.6rem;
  }

  .play-video-background::before, .play-video-arrow::before {
    font-size: 16rem;
  }
}
