/* stylelint-disable no-descending-specificity */

:root {
  --nav-color: var(--text-color);
  --nav-tools-color: #5f6169;
  --nav-logo-color: var(--text-color);
  --nav-background-color: #FFF;
  --nav-decoration-color: var(--text-color);
  --nav-section-tab-color: #6f54a3;
  --nav-extended-color: #FFF;
  --mobile-nav-extended-background: var(--text-color);
  --mobile-nav-extended-logo-color: #FFF;
  --mobile-nav-extended-color: #FFF;
  --mobile-nav-extended-decoration-color: #FFF;
  --mobile-nav-extended-contact-button-color: var(--text-color);
  --mobile-nav-extended-contact-button-background-color: #FFF;
   --nav-contact-button-color: #FFF;
   --nav-contact-button-background-color: var(--text-color);
}

/***** Global header / nav menu structure and styling *****/

/* header and nav layout */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  height:var(--mobile-nav-height);
}

header.header-wrapper.collapsed {
  height: 6.3rem;
}

/* Div element to cover the page content  */
header .header.block {
  background-color: var(--nav-background-color);
}

/* Div element to use for the mobile menu animation */
header .header.backdrop {
  background-color: var(--mobile-nav-extended-background);
  border-radius: 10rem;
  bottom: 100%;
  height: 5rem;
  left: 100%;
  position: absolute;
  width: 5rem;
  z-index: 5;
}

/* Div element to encapsulate the navigation menu */
header .nav-wrapper {
  z-index: 6;
  position: relative;
  max-width: 132rem;
  margin: 0 auto;
}

/* Style to toggle the display of the main nav element */
header.collapsed .nav-wrapper {
  display: none;
}

/* Styling for the div container that holds the two versions of the logo image */
header .nav-logo {
  position: absolute;
  color: var(--text-color);
  left: 2rem;
  top: 2.2rem;
  width: 10.2rem;
  z-index: 7;
}

/* Styling of the full logo image displayed in desktop mode before scrolling down as well as mobile */
header .nav-logo-big {
  color: var(--nav-logo-color);
  left: 1.8rem;
  position: absolute;
  top:0;
  height: 3.2rem;
  width:100%;
  bottom: 1.85rem;
  transition: opacity .36s ease-in-out,transform .36s ease-in-out,-webkit-transform .36s ease-in-out;
}

/* Define the layout of the main nav container which houses all the buttons */
header #nav {
  align-items: center;
  margin: auto;
  padding: 0 1rem;
  background-color: transparent;
}

/* Divider between section and tool menus in mobile mode */
header hr.nav-section-divider {
  display: none;

  /* Need to fix the animation by splitting the display and animatable properties to two steps */
  transition: opacity .36s ease-in-out,transform .36s ease-in-out,-webkit-transform .36s ease-in-out;
}

header #nav p {
  margin: 0;
  line-height: 1;
}

header #nav a:any-link {
  color: currentcolor;
}

header .header-navigation {
  width: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
}

/* Common styling for all the nav sections */
header .nav-sections > ul, header .nav-tools > ul, header .nav-search > ul {
  list-style: none;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-inline-start: 1rem;
}

header .nav-search {
  position: absolute;
  height: 2.4rem;
  top: 2.4rem;
  width: 2.4rem;
  right: 6rem;
}

header .nav-search > ul {
  margin: 0;
  width: 2.4rem;
  height: 2.4rem;
  padding-inline-start: 0;
}

/* Set mobile nav section elements to transparent when the nav isn't open to allow for the animation */
header .nav-sections > ul li {
  opacity:0;
}

/* Lower sections menu item container */
header .nav-sections {
  width: 100%;
}

/* Adjust sections nav menu elements with a drop down to allow for the decoration element */
header .nav-sections .nav-drop {
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

header .nav-sections .nav-drop::after {
  border-right: .3rem solid #fff;
  border-top: .3rem solid #fff;
  content: "";
  display: block;
  height: 1.0rem;
  margin-top: -.2rem;
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: rotate(45deg);
  width: 1.0rem;
}

/***** Styling specific to the mobile mode nav menu when closed *****/

  /* For mobile mode hide the menus so they can be animated when opened */
  header #nav .nav-sections, header #nav .nav-tools {
    display: none;
    height: 0;
    visibility: hidden;
    transition: opacity .36s ease-in-out,transform .36s ease-in-out,-webkit-transform .36s ease-in-out;
  }

  /* Styling for the search icon  */
  header #nav .nav-search > ul > li {
    line-height: 0;
  }

  /*  Styles relating to the 'hamburger' menu button */
header #nav .nav-hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 1.8rem;
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 2.8rem;
  width: 1.8rem;
  z-index: 7;
}

  header #nav .nav-hamburger button {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--nav-background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    z-index: 7;
  }

  header #nav .nav-hamburger-icon {
    top: 50%;
    position: absolute;
  }

  header #nav .nav-hamburger-icon,
  header #nav .nav-hamburger-icon::before,
  header #nav .nav-hamburger-icon::after {
    display: block;
    width: 100%;
    height: 2.4rem;
  }

  header #nav .nav-hamburger-icon::before,
  header #nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
  }

  /* Draw the hamburger icon through pseudo classes when nav is closed */
  header #nav[aria-expanded="false"] .nav-hamburger-icon,
  header #nav[aria-expanded="false"] .nav-hamburger-icon::before,
  header #nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 0.3rem;
    background: currentcolor;
  }

  header #nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -0.6rem;
  }

  header #nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 0.6rem;
  }


/***** Styling specific to the mobile mode nav menu when expanded *****/

  /* Define the animation that occurs when the mobile nav menu is expanded */
  header .animate-open-backdrop {
    transform: scale(70);
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
  }

  /* Switch the color of all text elements down the nav to white when expanded */
  header #nav[aria-expanded="true"] {
    color: var(--mobile-nav-extended-color);
  }

  /* Class added to the logo when the menu expands to have it rendered white */
  header .logo-white {
    color: var(--mobile-nav-extended-logo-color);
  }

/* Change layout of the main nav container to align all left in a simple block */
  header #nav[aria-expanded="true"] .header-navigation {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 12.5rem;
    overflow: scroll;
    padding: .3rem 2rem 14rem;
    box-sizing: border-box;
  }


  /* Styling for nav section container */
  header #nav[aria-expanded="true"] .nav-sections {
    height: auto;
    display: block;
    visibility: visible;
    left: 0;
    overflow: hidden;
    top: 12.5rem;
    z-index: 6;
  }

  /* Define the style for regular nav section items */
  header #nav[aria-expanded="true"] .nav-sections > ul {
    max-width: 225px;
    min-width: 225px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1em;
    padding-inline-start: 0;
  }

/*  Bring the tools menu in as a block element below the sections and divider */
header #nav[aria-expanded="true"] .nav-tools {
  display: block;
  height: auto;
  visibility: visible;
  font-size: 1.6rem;
}

  header #nav[aria-expanded="true"] .nav-tools li {
    margin-top: 1.5rem;
  }

  /* Don't show sub-menu items by default */
  header #nav[aria-expanded="true"] .sub-menu-section li {
    display: none;
  }

  /* Stagger the opacity transition for each menu item to do the pretty cascade thing */
  header #nav .nav-sections > ul > div:nth-child(1) > li { transition-delay: 0.40s; }
  header #nav .nav-sections > ul > div:nth-child(2) > li { transition-delay: 0.45s; }
  header #nav .nav-sections > ul > div:nth-child(3) > li { transition-delay: 0.50s; }
  header #nav .nav-sections > ul > div:nth-child(4) > li { transition-delay: 0.55s; }
  header #nav .nav-sections > ul > div:nth-child(5) > li { transition-delay: 0.60s; }

/*  Render the section divider */
  header #nav[aria-expanded="true"] hr.nav-section-divider {
    display: block;
  }

  /*  Don't render the search icon when the menu is expanded */
  header #nav[aria-expanded="true"] .icon-search {
    display: none;
  }

  /*  Make the menu elements act like links */
  header #nav[aria-expanded="true"] .nav-sections > ul li:hover {
    cursor: pointer;
  }

/***** Styling the mobile mode nav menu when a sub menu is selected *****/

  /* Display style for nav section items with children when expanded */
  header #nav[aria-expanded="true"] .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: none;
  }

  /*  Display the immediate children of the section as the nav index */
  header #nav[aria-expanded="true"] .sub-menu-section-active > ul.sub-menu-index > li {
    font-weight: 500;
    display: block;
    opacity: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-right: 20px;
    background-color: var(--mobile-nav-extended-background);
    color: var(--mobile-nav-extended-color);
    font-size: 1.8rem;
    margin: 30px 0;
  }

  /* Styling and transition for the sub menu elements */
  header #nav[aria-expanded="true"] .nav-sections > ul > div.nav-item-wrapper > li {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 4.6rem;
    margin-bottom: 2.0rem;
    text-decoration: underline;
    transition: opacity .6s ease-out .25s;
  }

  /* Property to change on the sub children once displayed to animate them fading in */
  header .nav-sections > ul > div > li.animate-fade-in {
    opacity:1;
  }

  /* Don't display the search icon when the nav menu is expanded */
  header #nav[aria-expanded="true"] .nav-search {
    display: none;
  }

/* Switch the hamburger icon to a white close icon when the nav is expanded */
  header #nav[aria-expanded="true"] .nav-hamburger-icon {
    background-color: var(--mobile-nav-extended-background);
    top:0;
  }

  /* Morph the hamburger icon to a close button */
  header #nav[aria-expanded="true"] .nav-hamburger-icon::before,
  header #nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    width: 24px;
    height: 3px;
    border-radius: 2px;
  }

  header #nav[aria-expanded="true"] .nav-hamburger-icon::after {
    bottom: 3px;
    transform: rotate(-45deg);
  }


/*  Styling for the back button that displays when in a sub menu in mobile */
header #nav .nav-back-button {
  transition: opacity .36s ease-in-out .36s;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -.02rem;
  line-height: 2rem;
  background-color: var(--mobile-nav-extended-background);
  border: 0;
  color: var(--mobile-nav-extended-color);
  cursor: pointer;
  display: none;
  left: 2rem;
  opacity: 0;
  padding: 0 0 0 2rem;
  position: absolute;
  top: 2.2rem;
  z-index: 8;
  width: auto;
  height: auto;
}

header #nav .nav-back-button > button {
  transition: opacity .36s ease-in-out .36s;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -.02rem;
  line-height: 2rem;
  background-color: var(--mobile-nav-extended-background);
  border: 0;
  cursor: pointer;
  padding: 0 0 0 2rem;
  position: absolute;
}

header #nav .nav-back-button > button::before {
  border-bottom: .2rem solid var(--mobile-nav-extended-decoration-color);
  border-left: .2rem solid var(--mobile-nav-extended-decoration-color);
  content: "";
  height: 1rem;
  left: .3rem;
  margin-top: -.5rem;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 1rem;
}

header #nav .nav-back-button-active {
  display:block;
}

header #nav .nav-back-button-animation-start {
  opacity:1;
}

header #nav .sub-menu-section-active > ul.sub-menu-index {
  padding-left: 0;
}

  /* Primary CTA button styling in the header */
header #nav .nav-sections > ul > div > li > strong > a {
  border-radius: 1rem;
  height: 4.5rem;
  font-weight: 500;
  font-style:normal;
  line-height: 4.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  font-size: 1.5rem;
  display: inline-block;
  color: var(--text-color);
  background-color: #FFF;
}

header #nav .nav-sections > ul > div > li > strong > a:hover {
text-decoration: none;
}

header #nav .nav-sections > ul > div > li > em > a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  font-style:normal;
  height: 4.5rem;
  line-height: 4.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-left: auto;
  color: var(--text-color);
  background-color: #FFF;
}

header #nav .nav-sections > ul > div > li > em > a:hover {
  text-decoration: none;
}

/* When in a subsection yeet all the main menu elements off to the side as an animation */

/* Think about moving the aria-expanded attribute up the dom so that it can be referenced to control the logo state */
header.sub-menu-selected .nav-logo,
header.sub-menu-selected #nav[aria-expanded="true"] .nav-tools,
header.sub-menu-selected #nav[aria-expanded="true"] .nav-section-divider,
header.sub-menu-selected #nav[aria-expanded="true"] .nav-sections > ul > div.nav-item-wrapper > li {
  opacity: 0;
  transform: translateX(-1000%);
}

header .sub-menu-label {
display:none;
  position: absolute;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: -.15rem;
  line-height: 3.2rem;
}

header .sub-menu-label-active {
  display:block;
}

/***** Desktop behavior with full nav menu displayed *****/
@media (min-width: 992px) {
  /***** Desktop nav layout *****/

    header {
      height: calc(var(--nav-height) + var(--bread-crumb-height));
    }

    header #nav {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: space-between;
      background-color: var(--nav-background-color);
    }

    /* Nav menu container housing both the sections and tools menu rows when expanded */
    header #nav.nav-big{
      padding: 1.2rem 2rem 0 25rem;
    }

    /* Nav menu container housing both the sections and tools menu rows when expanded */
    header #nav.nav-small{
      padding: 1.2rem 2rem 0 10.5rem;
    }

    header .nav-logo {
      top: 2.7rem;
      width: 17.6rem;
    }

    header .nav-logo-big {
      top:3.9rem;
      height: 3.9rem;
      left: 0;
    }

    header .nav-logo-small {
      color: var(--nav-logo-color);
      left: 1.8rem;
      position: absolute;
      width: 3.5rem;
      height: 3.9rem;
      bottom: -2rem;
    }

  /***** Desktop section and tools menu styling  *****/

    /* Style and layout of the section and tool menu containers */
    header #nav .nav-sections, header #nav .nav-tools {
      display: flex;
      height: 100%;
      visibility: visible;
    }

    /* Styling specific to the nav-sections menu */
    header #nav .nav-sections {
      display: block;
      white-space: nowrap;
    }

    /* Styling specific to the upper tools menu */
    header #nav .nav-tools {
      align-self: flex-end;
      margin-bottom: 0.1rem;
      margin-right: 4rem;
    }

    /* Add decoration to section menu elements which have a drop down */
    header .nav-sections .nav-drop::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2.0rem;
      margin-top: -0.2rem;
      right: 0.2rem;
      transform: rotate(135deg);
      width: 6px;
      height: 6px;
      border-style: solid;
      border-color: currentcolor;
      border-radius: 0 1px 0 0;
      border-width: 2px 2px 0 0;
    }

    /* Common attributes for both the sections and tool menu unordered lists */
    header .nav-sections > ul, header .nav-tools ul {
      display: flex;
      padding-left: 0;
      margin: 0;
      width: 100%;
    }

    /* Styling for the sections nav menu top level items */
    header .nav-sections > ul > div > li {
      opacity: 1;
      font-weight: 500;
      margin: 10px 20px 0;
      font-size: 1.5rem;
      letter-spacing: .027rem;
      line-height: 4.5rem;
    }

    /* Styling for the tools nav menu top level items */
    header #nav .nav-tools > ul > li {
      position: relative;
      font-size: 1.4rem;
      color: var(--nav-tools-color);
      padding: 0 1.6rem;
      line-height: 3.285;
    }

    /* No padding on the right most tools menu item */
    header #nav .nav-tools > ul > li:last-child {
      padding-right: 0;
    }

    /* Disable animations for section drop down menus in desktop mode */
    header #nav .nav-sections ul div.nav-item-wrapper > li {
      transition-delay: 0s;
      cursor: pointer;
    }

  header #nav .nav-sections > ul > div > li > em > a {
    display: inline-block;
    font-size: 1.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: auto;
  }

  /* Primary CTA button styling in the header */
  header #nav .nav-sections > ul > div > li > strong > a {
    border-radius: 1rem;
    color: var(--nav-contact-button-color);
    background-color: var(--nav-contact-button-background-color);
    height: 4.5rem;
    line-height: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
    font-size: 1.5rem;
    display: inline-block;
  }

  .nav-item-wrapper.cta li {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-item-wrapper.cta {
    margin-left: 1rem;
  }

  .nav-item-wrapper.cta.first {
    margin-left: auto;
  }

    /* Colorize the transparent bottom border under the section menu items on mouse over */
    header #nav .nav-sections > ul > div.nav-item-wrapper > li:hover {
      text-decoration: underline;
      text-decoration-color: var(--nav-color);
      text-underline-offset: 1.5rem;
      text-decoration-thickness: 0.2rem;
    }

    /*  Don't show the hamburger icon in desktop mode */
    header #nav .nav-hamburger {
      display: none;
      visibility: hidden;
    }

    /* Don't show an underline on sections with a drop down, and make room for the decoration chevron */
    header #nav div.nav-sections li.nav-drop {
      text-decoration: none;
      padding-right: 1.8rem;
    }

    /* Add the up arrow on the For Home element of the tools menu */
    header #nav div.nav-tools > ul > li:first-child::after {
      margin-left: 0.4rem;
      top: 0;
      content: var(--vlt-up-right-arrow-icon);
      bottom: 0;
      font-family: var(--icon-font-family);
      font-size: .8rem;
      position: absolute;
    }

    /* Position and style the search icon displayed adjacent to the tools menu */
    header #nav div.nav-search {
      align-self: center;
      display: flex;
      font-size: 1.5rem;
      height: 2.4rem;
      width: 2.4rem;
      z-index: 8;
      position: absolute;
      right: 2.8rem;
      top: 2.2rem;
    }

  /***** Desktop section menu behavior when a section is selected *****/

    /* Show all menu li items */
    header .nav-item-wrapper[aria-expanded="true"] ul li {
      opacity: 1;
    }

    /* Turn the section tab to purple when expanded */
    header #nav .nav-sections div.nav-item-wrapper[aria-expanded="true"] {
      background-color: var(--nav-section-tab-color);
      border-radius: 15px 15px 0 0;
      color: var(--nav-extended-color);
    }

    /* Remove underline when the section menu is expanded */
    header #nav .nav-sections div.nav-item-wrapper .nav-drop[aria-expanded="true"] {
      text-decoration: none;
    }

    /* Style the section chevron decoration to flip and become white when toggled */
    header #nav .nav-sections .nav-drop[aria-expanded="true"]::after {
      border-right: 0.2rem solid var(--mobile-nav-extended-decoration-color);
      border-top: 0.2rem solid var(--mobile-nav-extended-decoration-color);
      margin-top: -0.4rem;
      position: absolute;
      top: 2.4rem;
      transform: rotate(-45deg);
    }

  /***** Styling of the sub menu popover element *****/

    /* Display the sub-menu container when a section is clicked */
    header #nav .nav-item-wrapper[aria-expanded="true"] div.sub-menu {
      display: flex;
    }

    /* Style the close icon in the sub menu */
    header #nav span.close-icon {
      position: absolute;
      left: 1265px;
      top: -1rem;
      content: var(--vlt-close-icon);
      font-family: var(--icon-font-family);
      color: black;
    }

    header #nav span.close-icon::before {
      content: var(--vlt-close-icon);
      font-family: var(--icon-font-family);
      font-size: 40px;
    }

    /* Styles for the Sub Menu popup div container */
    header #nav div.sub-menu {
      display: none;
      width: 100%;
      overflow: hidden;
      justify-content: space-between;
      color: var(--nav-color);
      position: absolute;
      top: auto;
      left: 1rem;
      height: auto;
      background-color: white;
      box-shadow: 0 15px 30px rgb(0 0 0 / 15%);
      border-radius: 25px;
    }

    /* Layout behavior for the sub sections */
    header #nav div.sub-menu > ul {
      flex-flow: column nowrap;
    }

    /* Margin and divider for the sub sections in the popout menu */
    header #nav div.sub-menu > ul.sub-menu-section {
      flex: 1 1 auto;
      display: none;
      border-right: 1px solid #dadada;
      margin: 20px 0;
      padding: 0 10px;
    }

    /* Display behavior for the sub section titles / links */
    header #nav div.sub-menu > ul > li {
      font-size: 1.4rem;
      padding: 0 10px;
    }


  /* Sub menu section headers */
  header #nav div.sub-menu > ul.sub-menu-section > li {
    display: inline;
    position: relative;
    white-space: normal;
    word-break: normal;
    line-height: 1.4rem;
    margin: 1rem 2rem;
    font-weight: 500;
  }

    /* Styling specific to the left most index sub section */
    header #nav div.sub-menu > ul.sub-menu-index {
      display: flex;
      flex: 1 1 275px;
      max-width: 275px;
      min-width: 275px;
      border-right: none;
      box-sizing: border-box;
    }

    /* Sub menu section content holder */
    header #nav div.sub-menu > ul.sub-menu-section > li > ul {
      display: inline;
      font-weight: 100;
      line-height: normal;
    }

    /* Make the subsection titles bolder */
    header #nav div.sub-menu ul.sub-menu-section li {
      font-weight: 700;
    }

    /*  Except in the index which has non bold elements that are bold on mouse over */
    header #nav div.sub-menu ul.sub-menu-index > li {
      font-weight: 500;
    }

    /* Style the text of the sub section links */
    header #nav div.sub-menu > ul.sub-menu-section > li > ul li {
      display: block;
      font-weight: 100;
      line-height: normal;
      list-style: none;
      padding: 1rem 0 1rem 1rem;
    }

    /* Have the active sub section displayed */
    header #nav div.sub-menu > ul.sub-menu-section-active {
      display: flex;
    }

    /* Add special styling to the last subsection displayed */
    header #nav div.sub-menu ul.sub-menu-section-last {
      -webkit-box-flex: 1;
      flex: 1 1 270px;
      min-width: 270px;
      max-width: 270px;
      background: #f3f3f3;
      margin: 0;
      padding: 20px 0;
      border-right: none;
      border-radius: 0 25px 25px 0;
      box-sizing: border-box;
    }

    /*  Toggling the right section divider */
    header #nav div.sub-menu ul.sub-menu-section-no-border {
      border-right: none;
    }

    /*  Style the call to action button in the last sub section */
    header #nav div.sub-menu ul.sub-menu-section-last > li:first-child {
      margin: 20px 10px;
      text-align: center;
      line-height: 1.75rem;
      padding: 2rem 0;
      height: auto;
      width: 200px;
      background-color: #6f54a3;
      color: #fff;
      border-radius: 1rem;
      display: inline-block;
    }

    /* Add the chevron decorations to the right of the index elements */
    header #nav ul.sub-menu-index > li::after {
      content: "";
      position: absolute;
      top: 0.2rem;
      right: -1rem;
      width: 1.8rem;
      height: 1.4rem;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14'%3E%3Cpath d='M11.83 13.1a1 1 0 01-.73-1.69L15.25 7 11.1 2.59a1 1 0 011.46-1.37L18 7l-5.44 5.79a1 1 0 01-.73.31z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 100%;
    }

    /*  Make the index items bold and have an underline on mouse over */
    header #nav div.sub-menu ul.sub-menu-index > li:hover {
      font-weight: 700;
      text-decoration: underline;
    }

    /* Add an additional line to the chevron decoration (making an arrow) on mouseover */
    header #nav ul.sub-menu-index > li:hover::after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14'%3E%3Cpath d='M12.56 1.21a1 1 0 00-1.46 1.38L14.31 6H0v2h14.31l-3.21 3.41a1 1 0 001.46 1.37L18 7z'/%3E%3C/svg%3E");
      }

    /* Add the icons to the index elements as pseudo before */
    header #nav ul.sub-menu-index #communications-apis::before {
      content: var(--vlt-cloud-inverse-icon);
      font-family: var(--icon-font-family);
      margin: 1.1rem;
      left: -2.9rem;
      position: absolute;
      top:-1.1rem;
    }

    header #nav ul.sub-menu-index #unified-communications::before {
      content: var(--vlt-phone-2-icon);
      font-family: var(--icon-font-family);
      margin: 1.1rem;
      left: -2.9rem;
      position: absolute;
      top:-1.1rem;
    }

    header #nav ul.sub-menu-index #contact-centers::before {
      content: var(--vlt-head-phone-icon);
      font-family: var(--icon-font-family);
      margin: 1.1rem;
      left: -2.9rem;
      position: absolute;
      top:-1.1rem;
    }

    header #nav ul.sub-menu-index #conversational-commerce::before {
      content: var(--vlt-mobile-text-bubble-icon);
      font-family: var(--icon-font-family);
      margin: 1.1rem;
      left: -2.9rem;
      position: absolute;
      top:-1.1rem;
    }
}

/***** Desktop breadcrumb element  *****/

  /***** Desktop breadcrumb structure layout and styling *****/

    /* Layout and styling for the desktop breadcrumb header element parent element */
    header .l3-nav-desktop {
      display: -webkit-box;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      height: 6.3rem;
      position: relative;
      font-size: 1.3rem;
      font-weight: 500;
      font-family: var(--body-font-family);
      padding: 10px 34px 5px;
      margin-top: 1rem;
      background: #fbfbfb;
      background: -webkit-gradient(linear,left bottom,left top,color-stop(85%,#fbfbfb),to(#efefef));
      background: linear-gradient(0deg,#fbfbfb 85%,#efefef);
      border-bottom: 1px solid #ddd;
    }

    /* Drop the top margin on the desktop breadcrumb when the main nav is collapsed  */
    header.collapsed .l3-nav-desktop {
      margin-top: 0;
    }

    /* Layout and styling for the div flex box for the two sections of the desktop breadcrumb */
    header .l3-nav-desktop .container.section-container {
      display: flex;
      line-height: normal;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
    }

    /* Layout for the left column of the desktop breadcrumb */
    header .l3-nav-desktop .left-sec {
      display: -webkit-box;
      display: flex;
      align-items: center;
    }

    /* Layout for the left column of the desktop breadcrumb */
    header .l3-nav-desktop .right-sec {
      display: -webkit-box;
      display: flex;
      align-items: center;
    }

    /* Layout and pointer behavior for the links in the desktop right breadcrumb */
    header .l3-nav-desktop .right-sec-menu-option {
      margin-right: 4rem;
      cursor: pointer;
    }

header .l3-nav-desktop .right-sec-menu-option:last-child {
  margin-right: 0;
}

/***** Desktop breadcrumb header bar styling *****/

    /* Styling for the breadcrumb section title elements parent container */
    header .l3-nav-desktop .l3-nav-menu-title {
      display: -webkit-box;
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      min-width: 8rem;
      cursor: pointer;
    }


    /* Styling for the breadcrumb section title elements */
    header .l3-nav-desktop span.title-option {
      margin-right: 1.5rem;
      color: var(--text-color);
    }

    /* Styling for the breadcrumb section title separator '/' elements */
    header .l3-nav-desktop span.separator {
      color: var(--accent-color);
      font-size: 1.3rem;
      font-weight: 500;
    }

    /* Styling for the title link in the breadcrumb */
    header .l3-nav-desktop a.title-option-l3nav {
      display: flex;
      align-items: center;
      color: #717171;
    }

    /* Styling for the prepended icon decoration span in the desktop breadcrumb title */
    header .l3-nav-desktop span.nav-icon.vlt-icon-phone {
      color: var(--text-color);
      padding-right: 10px;
      font-size: 1.5rem;
      font-family: var(--icon-font-family);
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: inherit;
      speak: none;
      text-transform: none;
    }

    /* Icon for the prepended decoration span in the desktop breadcrumb title */
    header .l3-nav-desktop span.nav-icon.vlt-icon-phone::before {
      content: var(--vlt-phone-2-icon);
    }

    /* Styling for the appended icon decoration in the desktop breadcrumb title */
    header .l3-nav-desktop span.vlt-icon-chevron.arrow-icn {
      display: inline-block;
      font-size: 2rem;
      position: relative;
      transform: rotate(0deg);
      color: var(--accent-color);
    }

    /* Icon for the appended decoration span in the desktop breadcrumb title */
    header .l3-nav-desktop span.vlt-icon-chevron.arrow-icn::before {
      content: var(--vlt-down-chevron-icon);
    }

    /* Don't underline desktop breadcrumb title links on hover */
    header .l3-nav-desktop a.title-option-l3nav:hover {
      text-decoration: none;
    }

    /* Make the active (page user is on) link in the title bold and black */
    header .l3-nav-desktop .l3-nav-menu-title .title-option-l3nav.bold {
      font-weight: 500;
      color: var(--text-color);
    }

    /*  Styling for the right section of the desktop breadcrumb header bar */
    header .l3-nav-desktop .right-sec-menu-option a {
      color: var(--text-color);
    }

    /*  Disable underline for the right section of the desktop breadcrumb header bar */
    header .l3-nav-desktop .right-sec-menu-option a:hover {
      text-decoration: none;
    }

  /***** Desktop breadcrumb body styling *****/

    /* Layout and position for top level parent of the breadcrumb container before activated */
    header .l3-nav-desktop .menu-option-sublist.l3-nav-menu-options {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 5rem;
      padding: 0 34px 17px;
      max-height: 40rem;
      overflow-y: auto;
      overscroll-behavior: contain;
      background: #fbfbfb 0 0 no-repeat padding-box;
      border-bottom: 1px solid #ddd;
    }

    /* Keyframe declaration for the breadcrumb fadein animation*/
    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    /* Style to apply to the breadcrumb container to render it visible */
    header .l3-nav-desktop .menu-option-sublist.l3-nav-menu-options.active {
      opacity:100;
      display: flex;
      visibility: visible;
      z-index: 4;
      animation: fadein .75s forwards;
    }

    /* Sub container for the link data in the breadcrumb */
    header .l3-nav-desktop .container.sublist-container {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    /* Styling for the breadcrumb body columns */
    header .l3-nav-desktop .list.l3-nav-menu-options-list {
      min-width: 8rem;
      margin-right: 1.5rem;
    }

    /* Styling for the first link column in the expanded breadcrumb */
    header .l3-nav-desktop .list.l3-nav-menu-options-list.first {
      padding-left: 25px;
      box-sizing: border-box;
    }

    /* Styling for the ul container of the desktop breadcrumb body */
    header .l3-nav-desktop .l3-nav-menu-options-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    /* Styling for the li container of the desktop breadcrumb body */
    header .l3-nav-desktop .l3-nav-menu-options-list li {
      cursor: pointer;
      min-height: 1rem;
      margin-bottom: 1rem;
      line-height: normal;
    }

    /* Styling for the breadcrumb body link text */
    header .l3-nav-desktop .l3-nav-menu-options-list ul li a{
      color: #717171;
      font-size: 1.25rem;
      font-weight: 400;
    }

    /* Make the active (page user is on) link in the breadcrumb bold and black */
    header .l3-nav-desktop .l3-nav-menu-options-list ul li a.bold {
      font-weight: 500;
      color: var(--text-color);
    }

    /* Add some padding to the last list element in the desktop breadcrumb body */
    header .l3-nav-desktop .l3-nav-menu-options-list li:last-of-type {
      padding-bottom: 2rem;
    }

   /* Make black and add an accentu underline to desktop breadcrumb body links on hover */
   header .l3-nav-desktop a.l3-nav-submenu:hover {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 2px solid var(--accent-color);
  }

/***** Mobile breadcrumb element *****/

  /***** Mobile breadcrumb layout and structure *****/

  /* Styling and layout of parent container for mobile breadcrumb title element */
  header .l3-nav-mobile {
    margin-top: 6rem;
    background: #fbfbfb;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(85%,#fbfbfb),to(#efefef));
    background: linear-gradient(0deg,#fbfbfb 85%,#efefef);
  }

  /***** Mobile breadcrumb element header styling *****/

    /* Styling for the breadcrumb headers open button */
    header .l3-nav-mobile .vlt-icon-chevron.right-sec-dropdown-icn {
      cursor: pointer;
      display: block;
      font-size: 2.8rem;
      color: var(--accent-color);
      font-family: var(--icon-font-family);
    }

    /* Content for the breadcrumb headers open button */
    header .l3-nav-mobile .vlt-icon-chevron.right-sec-dropdown-icn::before {
      content: var(--vlt-down-chevron-icon);
    }

    /* Styling for the breadcrumb headers close button */
    header .l3-nav-mobile .vlt-icon-close.right-sec-close-icn {
      cursor: pointer;
      display: block;
      font-size: 2.8rem;
      color: var(--accent-color);
    }

    /* Content for the breadcrumb headers close button */
    header .l3-nav-mobile .vlt-icon-close::before {
      content: var(--vlt-close-icon);
    }

    /* Styling for the breadcrumbb headers title separators */
    header .l3-nav-mobile .l3-nav-mobile-menu-head .left-sec .separator {
      margin: 0 8px;
      color: var(--accent-color);
    }

    /* Styling for either of the mobile nav title containers (open and closed) */
    header .l3-nav-mobile .l3-nav-mobile-menu-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fbfbfb 0 0 no-repeat padding-box;
      height: 5rem;
      padding: 0 1.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: var(--body-font-family);
    }

    /* Don't underline the mobile breadcrumb header links on hover */
    header .l3-nav-mobile .l3-nav-mobile-menu-head a:hover {
      color: var(--text-color);
      text-decoration: none;
    }

    /* Specific styles for the closed mobile breadcrumb title element */
    header .l3-nav-mobile .l3-nav-mobile-menu-head.l3-nav-mobile-closed {
      height: 5.1rem;
      border-bottom: 1px solid #ddd;
    }

    /* Style to toggle the open and closed breadcrumb title variants as visible or not */
    header .l3-nav-mobile .l3-nav-mobile-closed.not-active,
    header .l3-nav-mobile .l3-nav-mobile-open.not-active {
      display: none;
    }

/***** Mobile breadcrumb element body styling *****/

    /* Layout and styling for the top level mobile breadcrumb body container */
    header .l3-nav-mobile-menu-body {
      right: 0;
      z-index: 4;
      display: none;
      height: auto;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: var(--body-font-family);
      left: 0;
      background: #fbfbfb 0 0 no-repeat padding-box;
      border-bottom: 1px solid #ddd;
      position: fixed;
      color: #717171;
      padding: 1rem 1.5rem 0;
      max-height: 50rem;
      overflow-y: auto;
      overscroll-behavior: contain;
    }

    /* Style to apply to the mobile breadcrumb body in order to render it active in the page */
    header .l3-nav-mobile-menu-body.active {
      display: block;
      animation: fadein .75s forwards;
    }

    /* Don't underline mobile breadcrumb title elements on hover (they aren't actually links) */
    header .l3-nav-mobile .l3-nav-mobile-menu-body .title-item:hover {
      text-decoration: none;
    }

    /* Bold styling for the displayed page in the breadcrumb body */
    header .l3-nav-mobile .l3-nav-mobile-menu-body .menu-sub-list ul li a.bold {
      font-weight: 500;
      color: var(--text-color);
    }

    /* Styling for the ul container in the mobile breadcrumb body */
    header .l3-nav-mobile-menu-body .menu-sub-list ul {
      list-style-type: none;
      padding: 0 1rem;
      margin-top: 0;
    }

    /* Styling for the li container in the mobile breadcrumb body */
    header .l3-nav-mobile-menu-body .menu-sub-list ul li {
      cursor: pointer;
      font-size: 1.4rem;
      margin-bottom: 1.25rem;
    }

    /* Styling for the links in the mobile breadcrumb body */
    header .l3-nav-mobile-menu-body .menu-sub-list ul li a {
      padding: 0.5rem;
      color: #717171;
    }

    /* Specific styling for title items in the mobile breadcrumb body (without links) */
    header .l3-nav-mobile-menu-body .title-item {
      display: block;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--text-color);
    }

@media (min-width: 576px) {
  .container.section-container, .container.sublist-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container.section-container, .container.sublist-container {
    max-width: 45pc;
  }
}

@media (min-width: 992px) {
  .container.section-container, .container.sublist-container {
    max-width: 990pt;
  }
}

@media only screen and (max-width: 1023px) {
  /* Don't show the desktop breadcrumb at less than 1024 display width */
  header .l3-nav-desktop {
    display:none;
  }
}

@media only screen and (min-width: 1024px) {
 /*  Don't show the mobile breadcrumb at greater than 1024 display width */
 header .l3-nav-mobile {
    display:none;
  }
}
