


:root {
  --nav-color: #000;
  --nav-tools-color: #5f6169;
  --nav-logo-color: #000;
  --nav-background-color: #FFF;
  --nav-decoration-color: #000;
  --mobile-nav-extended-background: #000;
  --mobile-nav-extended-logo-color: #FFF;
  --mobile-nav-extended-color: #FFF;
  --mobile-nav-extended-decoration-color: #FFF;
  --mobile-nav-extended-contact-button-color: #000;
  --mobile-nav-extended-contact-button-background-color: #FFF;
   --nav-contact-button-color: #FFF;
   --nav-contact-button-background-color: #000;
}

/* header and nav layout */
header {
  height: 12.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Div element to use for the mobile menu animation and to cover the page content  */
.header.block {
  background-color: var(--nav-background-color);
}
/* Div element to use for the mobile menu animation and to cover the page content */
.header-backdrop {
  background-color: var(--mobile-nav-extended-background);
  border-radius: 10rem;
  bottom: 100%;
  height: 5rem;
  left: 100%;
  position: absolute;
  width: 5rem;
  z-index: 5;
}

/* Div element to encapsulate the headers navigation menu */
header .nav-wrapper {
  z-index: 6;
  position: relative;
  max-width: 132rem;
  margin: 0 auto;
}

header .nav-logo {
  position: absolute;
  top: 3.2rem;
  width: 14.6rem;
  height: auto;
  left: 0.2rem;
}

header .nav-logo-big {
  color: var(--nav-logo-color);
  left: 1.8rem;
  position: absolute;
  top:0;
  height: 3.2rem;
  width:100%;
  bottom: 1.85rem;
}

/* For mobile mode don't render the menus directly */
header .nav-sections, header .nav-tools {
  display: none
}

header .nav-sections ul, header .nav-tools ul, header .nav-search ul {
  list-style: none;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-inline-start: 1rem;
}

header nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
  background-color: transparent;
}

header .nav-sections .nav-drop[aria-expanded="true"]::after {
  border-right: 0.3rem solid var(--mobile-nav-extended-decoration-color);
  border-top: 0.3rem solid var(--mobile-nav-extended-decoration-color);
  content: "";
  display: block;
  height: 1rem;
  margin-top: -0.4rem;
  position: absolute;
  right: -0.4rem;
  top: 50%;
  transform: rotate(45deg);
  width: 1rem;
}

header nav[aria-expanded="true"] .nav-sections > ul > li {
margin-bottom: 2.0rem;
}

header .nav-sections > ul > li[aria-expanded="true"] > ul {
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  left: 0;
  overflow: scroll;
  padding: 0.3rem 2rem 14rem;
  position: absolute;
  top: 12.5rem;
  z-index: 6;
}

header nav[aria-expanded="true"] {
  color: var(--mobile-nav-extended-color);
}

header .animate-open-backdrop {
  transform: scale(70);
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 5.4rem;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--nav-background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  z-index: 7;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  background-color: var(--mobile-nav-extended-background);
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 10px;
  left: 0;
  transform: rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  bottom: 3px;
  transform: rotate(-45deg);
}

/* Nav menu container housing both the sections and tools menu rows when expanded */
header #nav.nav-big{
  padding: 1.2rem 2rem 0 25rem;
}

/* Nav menu container housing both the sections and tools menu rows when expanded */
header #nav.nav-small{
  padding: 1.2rem 2rem 0 10.5rem;
}

/* Lower sections menu item container */
header .nav-sections {
  width: 100%;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
}

header nav[aria-expanded="true"] .nav-sections > ul > li {
  font-family: Spezia,"Spezia_SemiMono",Arial,Helvetica,sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 4.6rem;
}

header nav[aria-expanded="true"] .nav-sections > ul  {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1em;
  padding-inline-start: 0;
}

header .logo-white {
  color: var(--mobile-nav-extended-logo-color);
}

header nav[aria-expanded="true"] .nav-sections > ul > li:last-child {
  border-radius: 1rem;
  width: fit-content;
  color: var(--mobile-nav-extended-contact-button-color);
  background-color: var(--mobile-nav-extended-contact-button-background-color);
  margin-right: 0;
  height: 7.0rem;
  line-height: 7.0rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

header nav[aria-expanded="true"] .nav-search {
  display: none;
}

/* Adjust sections nav menu elements with a drop down to allow for the decoration element */
header .nav-sections .nav-drop {
  position: relative;
  padding-right: 16px;
}

header .nav-drop {
  text-decoration: underline;
  width: fit-content;
}

/* Desktop behavior with full nav menu displayed */
@media (min-width: 992px) {
  header nav {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    background-color: var(--nav-background-color);
  }

  /* Upper tools nav menu items */
  header .nav-tools {
    align-self: flex-end;
    display: flex;
    height: 4.5rem;
    margin-bottom: 0.1rem;
    margin-right: 4rem;
  }

  header .nav-drop {
    text-decoration: none;
  }

  /* Add decoration to section menu elements which have a drop down */
  header .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1.2em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header .nav-sections .nav-drop[aria-expanded="true"]::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 2px;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }
  /* Common attributes for both the sections and tool menu unordered lists */
  header .nav-sections ul, header .nav-tools ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    cursor: pointer;
  }

  /* Styling for the list items in the sections unordered list */
  header .nav-sections ul > li {
    font-weight: 600;
    margin: 1rem 2rem;
    border-bottom: .2rem solid transparent;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 4.5rem;
  }

  /* Styling for the list items in the tools unordered list */
  header .nav-tools > ul > li {
    position: relative;
    font-size: 1.4rem;
    color: var(--nav-tools-color);
    padding: 0 1.6rem;
    line-height: 3.285;
  }

  /* Sub menu items styling for the sections nav */
  header .nav-sections ul > li > ul {
    margin-top: 0;
    display: none;
    position: relative;
  }

  header .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }

  /* Colorize the transparent bottom border under the section menu items on mouse over */
  header .nav-sections ul > li:hover {
    border-bottom-color: var(--nav-color);
  }

  /* Make the last item of the sections nav the 'Contact us' button in black and aligned to the right */
  header .nav-sections > ul > li:last-child {
    margin-left: auto;
    border-radius: 1rem;
    color: var(--nav-contact-button-color);
    background-color: var(--nav-contact-button-background-color);
    margin-right: 0;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  header .nav-logo {
    top: 2.7rem;
    width: 17.6rem;
  }

  header .nav-logo-big {
    top:3.9rem;
    height: 3.9rem;
  }

  header .nav-logo-small {
    color: var(--nav-logo-color);;
    left: 1.8rem;
    position: absolute;
    width: 3.5rem;
    height: 3.9rem;
    bottom: -2rem
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header .nav-sections > ul > li > ul::before {
    border-bottom: .2rem solid transparent;
  }

  header .nav-tools > ul > li:first-child::after {
    margin-left: 0.4rem;
    top: 0;
    content: "\e91d";
    bottom: 0;
    font-family: VltIcons;
    font-size: .8rem;
    position: absolute;
  }

  header .nav-tools > ul > li:last-child {
    padding-right: 0;
  }

  header .nav-search > ul {
    list-style: none;
  }

  header .nav-search {
    -ms-flex-item-align: center;
    align-self: center;
    display: flex;
    font-size: 1.5rem;
    height: 1.5rem;
    right: 2rem;
    top: 3rem;
    z-index: 8;
    position: absolute;
  }

  header .nav-search svg {
    display: block;
    margin-top: -2.8rem;
  }
}