/* block specific CSS goes here */
/* stylelint-disable no-descending-specificity */


.section.product-hero-container {
  padding:0;
}

.product-hero.block {
  padding-top: 2rem;
  margin-bottom: 0!important;
  background-color: #000;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 7rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.row.description, .row.headline {
  width: 100%;
  color: #fff;
  position: relative;
}

.row.headline .column {
  flex: 0 0 100%;
  max-width: 100%;
}

.row.description .column {
  margin-left: 16.66667%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.row.headline .column h1 {
  font-family: Spezia,Spezia_SemiMono,Arial,Helvetica,sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: -.125rem;
  line-height: 4rem;
  margin-bottom: 4rem;
  margin-top: 0;
}

.row.description .column p {
  font-family: Spezia,Spezia_SemiMono,Arial,Helvetica,sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: -.025rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.header-media__content {
  background-color: #eeeffc;
}

.container.media {
  padding-bottom: 7rem;
  width: 100%;
}

.media-background {
  width: 100%;
  background-color: #000;
  height: 1rem;
  position: relative;
}

.media-background::after {
  background: -webkit-gradient(linear,left top,right top,from(#881fff),to(#7fc8f5));
  background: linear-gradient(90deg,#881fff 0,#7fc8f5);
  bottom: 0;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.container.media img {
  z-index: 100;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

  @media (min-width: 768px) {

    .container {
      max-width: 45pc;
    }

  .row.description .column {
    margin-left: 41.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
    .row.headline .column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }

    h1.headline {
      padding-top:0;
      font-family: Spezia,Spezia_SemiMono,Arial,Helvetica,sans-serif;
      font-size: 2.8rem;
      font-weight: 500;
      letter-spacing: -.15rem;
      line-height: 3.2rem;
    }

    .media-background {
      height: 16rem;
    }

    .media.container {
      margin-top: -16rem;
    }
}
