/* block specific CSS goes here */
/* stylelint-disable no-descending-specificity */


.section.product-hero-container {
  padding:0;
}

.product-hero.block {
  margin-bottom: 0!important;
  background-color: #000;
  padding-top: 2rem;
}

.content-resource-header {
  background-color: #000;
  color: #fff;
  padding-bottom: 7rem;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.column {
  box-sizing: border-box;
}

.row.headline .column {
  flex: 0 0 100%;
  max-width: 100%;
}

.row.description .column {
  margin-left: 16.667%;
  flex: 0 0 83.333%;
  max-width: 83.333%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.row.headline .column h1 {
  font-family: var(--body-font-family);
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: -.125rem;
  line-height: 4rem;
  margin-bottom: 4rem;
  margin-top: 0;
}

.row.description .column p {
  font-family: var(--body-font-family);
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: -.025rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.header-media-content {
  background-color: #eeeffc;
}

.container.media {
  padding-bottom: 7rem;
  width: 100%;
}

.media-background {
  width: 100%;
  background-color: #000;
  height: 1rem;
  position: relative;
}

.media-background::after {
  background: -webkit-gradient(linear,left top,right top,from(#881fff),to(#7fc8f5));
  background: linear-gradient(90deg,#881fff 0,#7fc8f5);
  bottom: 0;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.container.media img {
  z-index: 100;
  position: relative;
}

.container.text .column {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

  @media (min-width: 768px) {
    .container {
      max-width: 45pc;
    }

  .row.description .column {
    margin-left: 41.667%;
    flex: 0 0 58.333%;
    max-width: 58.333%;
  }

    .row.headline .column {
      flex: 0 0 91.667%;
      max-width: 91.667%;
  }

    h1.headline {
      padding-top:0;
      font-family: var(--body-font-family);
      font-size: 2.8rem;
      font-weight: 500;
      letter-spacing: -.15rem;
      line-height: 3.2rem;
    }

    .media-background {
      height: 16rem;
    }

    .media.container {
      margin-top: -16rem;
    }
}

@media (min-width: 900px) {
  .section.product-hero-container .product-hero-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .row.media .column {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }

  .content-resource-header {
    padding-bottom: 3rem;
    padding-top: 7rem;
  }

  .container {
    max-width: 990pt;
  }

  .row.description .column {
    margin-left: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .media-background {
    height: 37rem;
  }

  .media.container {
    margin-top: -37rem;
  }
}
