/* 2 column version of the fragment */
.fragment-wrapper {
    text-decoration: none;
    box-sizing: inherit;
    position: relative;
    width: 100%;
    padding: 64px 20px 64px 20px;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 992px) {
        display:flex;
        flex-direction: initial;
    }

    > div {
        position: relative;
        width: 100%;
        padding: 0px 20px 0px 20px;

        @media (min-width: 768px) {
            margin-left: 8.3333%;
            flex: 0 0 83.3333%;
            max-width: 83.3333%;
        }
    }

    > .leftcolumn {
        flex: 0 0 50%;
        max-width: 83.3333%;
    }

    > .rightcolumn {
        margin-left: 0;
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }

    & a:any-link {
        color: #000;
        transition: transform .2s;
        text-decoration: none;
        display:inline-block;
    }

    & li > a:hover, li > strong > a:hover {
        text-decoration: underline;
    }

    & .fragment-link {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: .075rem;
        line-height: 2rem;
    }

    & .fragment-link:after {
        background-color: #000;
        content: "";
        display: block;
        height: .2rem;
        width: 100%
    }

    & h2 {
        font-size: 2.9rem;
        font-weight: 500;
        letter-spacing: -.15rem;
        line-height: 3.2rem;
    }

    & p {
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: -.02rem;
        line-height: 2rem;
    }

    & ul {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .025rem;
        line-height: 1.6rem;
        column-gap: 4rem;

        @media (min-width: 768px) {
            column-count: 2;
        }
    }
}