footer {
  font-size: var(--body-font-size-s);
  padding: 9rem 2rem;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8rem 0;
}

.footer-links-row {
  display: flex;
  flex-flow: row wrap;
}

.footer-links-row > ul {
  box-sizing: border-box;
  letter-spacing: 0.025rem;
  line-height: 1.6rem;
  flex: 0 0 25%;
  list-style-type: none;
  margin: 0;
  padding: .6rem 0;
}

/* @media (min-width: 600px) and (max-width: 900px) { */
@media (max-width: 900px) {
    .footer-links-row > ul {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .footer-links-row > ul {
    flex: 0 0 100%;
  }
}

.footer-links-row li {
  font-size: 1.2rem;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
}

.footer-links-row li:not(:has(a)) {
  font-family: var(--fixed-font-family);
  letter-spacing: .2rem;
  line-height: 2rem;
  position: relative;
}

.footer-links-row a {
  box-sizing: border-box;
  color: inherit;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

.footer-social-icon::before {
  font-family: VltIcons;
  font-weight: 400;
  font-size: 1.0rem;
  letter-spacing: 0;
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}

.footer-social-link-facebook::before {
  content: "\e903";
}

.footer-social-link-linkedin::before {
  content: "\e905";
}

.footer-social-link-twitter::before {
  content: "\e904";
}

.footer-social-link-youtube::before {
  content: "\e906";
}

.footer-social-link-instagram::before {
  content: "\e92a";
}

.footer-external-link::after {
  content: "\e91d";
  font-family: VltIcons;
  font-weight: 400;
  font-size: 1.0rem;
  letter-spacing: 0;
  margin-left: 0.4rem;
  position: relative;
  top: -0.2rem;
}

.footer-trade-disclaimer {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6rem;
  margin-top: 4rem;
  text-align: right;
  position: relative;
  margin-right: 10rem;
}

.footer-trade-disclaimer .icon {
  width: 1rem;
  height: 1rem;
}
