.section.pricing-matrix-container {
    background-color: #eeeffc;
}

.pricing-matrix .quantity-selector .quantity-count {
    border: 0;
    border-radius: 0.8rem;
    display: block;
    text-align: center;
    height: 5.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 8.4rem;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    line-height: 2.4rem;
}


.pricing-matrix .quantity-selector input.quantity-range {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: 3.6rem;
    padding: 0;
    width: 100%;
    max-width: unset;
}

.pricing-matrix .quantity-selector input.quantity-range::-webkit-slider-thumb {
    appearance: none;
    background-color: #881fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 18%);
    height: 3.4rem;
    margin-top: -1.2rem;
    width: 3.4rem
}

.pricing-matrix .quantity-selector input.quantity-range::-webkit-slider-runnable-track {
    background-color: transparent;
    border: 1.3rem solid #eeeffc;
    border-right: none;
    border-left: none;
    box-sizing: content-box;
    height: 1rem;
    width: 100%
}

.pricing-matrix .quantity-selector input.quantity-range::-moz-range-track {
    background-color: transparent;
    border-bottom: 1.3rem solid #eeeffc;
    border-top: 1.3rem solid #eeeffc;
    height: 1rem
}

.pricing-matrix .quantity-selector input.quantity-range::-moz-range-progress {
    background-color: #881fff;
    height: 1rem
}

.pricing-matrix .quantity-selector input.quantity-range::-moz-range-thumb {
    background-color: #881fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 18%);
    height: 3.4rem;
    width: 3.4rem
}

.pricing-matrix .quantity-selector input.quantity-range::-ms-track {
    border-color: #eeeffc;
    border-width: 13px 0;
    color: transparent;
    height: 10px;
    width: 100%
}

.pricing-matrix .quantity-selector input.quantity-range::-ms-fill-lower,
.pricing-matrix .quantity-selector input.quantity-range::-ms-fill-upper {
    background: #fff
}

.pricing-matrix .quantity-selector input.quantity-range::-ms-fill-lower {
    background-color: #881fff
}

.pricing-matrix .quantity-selector input.quantity-range::-ms-thumb {
    background-color: #881fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 18%);
    height: 35px;
    margin-top: 0;
    width: 35px
}


.pricing-matrix .quantity-selector {
    max-width: 61.8rem;
}

.pricing-matrix .quantity-selector .range-length {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #881fff;
}

.pricing-matrix .quantity-selector .ranges {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.6rem;
    gap: 10px;
}

.pricing-matrix .quantity-selector .ranges .divider {
    border-right: 1px solid #881fff;
    height: 0.5rem;
    width: 0.1rem;
}
